<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/jj-luckydraw/home/ended-events"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "jj-luckydraw._EVENT" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ng-container *ngIf="loaded">
          <lucky-event-with-winning-summary [event]="event"></lucky-event-with-winning-summary>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>