<div class="container">
  <h3 class="ion-font-bold ion-text-xl">{{ event?.name }}</h3>
  <p id="description" class="ion-text-ellipsis ion-text-sm">{{ event?.description }}</p>
  <div *ngIf="canExpand" class="ion-text-center button-container" [class.expanded]="expanded">
    <div></div>
    <ion-button fill="clear" size="small" (click)="toggleMore()">
      <ion-label>
        <span *ngIf="!expanded">查看更多</span>
        <span *ngIf="expanded">收起全文</span>
      </ion-label>
    </ion-button>
  </div>
</div>
