.container {
  padding: calc(var(--ion-padding) / 4) 0;
  background-color: rgba(var(--ion-color-secondary-rgb), 0.6);
  z-index: 99;
  position: sticky;
  top: 0;
}

.inner-container {
  // display: flex;
  // width: max-content;
  animation: scrolling-anim 7500ms linear infinite;
}

p {
  margin: 0;
  text-align: end;
  color: var(--ion-color-dark);
  font-size: var(--ion-font-xs);
}

@keyframes scrolling-anim {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translate(100%);
  }
}
