<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ "jj-luckydraw._CUSTOMERS" | translate }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [placeholder]="'jj-luckydraw._SEARCH_NAME_OR_CONTACT_NO' | translate" [debounce]="500" (ionChange)="onSearch($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
        <ng-container *ngIf="loaded">
          <ion-list>
            <ion-list-header *ngIf="!customers || customers.length <= 0" class="ion-no-padding">
              <ion-label class="font-small ion-text-center">
                {{ "jj-luckydraw._NO_CUSTOMERS_FOUND" | translate }}
              </ion-label>
            </ion-list-header>
            <ion-item *ngFor="let customer of customers" [routerLink]="[customer.doc_id]">
              <ion-label>
                <h3>{{ customer.firstName | fullName: customer.lastName }}</h3>
                <h3 *ngIf="me?.role == 'MERCHANT_ADMIN'">{{ customer.phone | hiddenPhoneNumber }}</h3>
                <h3 *ngIf="me?.role == 'SYSTEM_ADMIN'">{{ customer.phone }}</h3>
                <p>{{ "jj-luckydraw._CREATED_AT" | translate }}&nbsp;:&nbsp;{{ customer.doc_createdDate | date: "MM/dd/yy, h:mm a" }}</p>
              </ion-label>
            </ion-item>
          </ion-list>
          <ng-container *ngIf="customers?.length > 0">
            <ion-infinite-scroll *ngIf="!noMoreCustomers" (ionInfinite)="loadMoreCustomers($event)">
              <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>
            <ion-list-header *ngIf="noMoreCustomers" class="ion-no-padding">
              <ion-label class="font-small ion-text-center">
                {{ "jj-luckydraw._NO_MORE_CUSTOMERS" | translate }}
              </ion-label>
            </ion-list-header>
          </ng-container>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>