ion-header::after {
  height: 0px;
  background-image: none;
}

:host ::ng-deep ion-toolbar {
  --border-width: 0px;
  --background: var(--ion-item-background, #ffffff);

  ion-button {
    --padding-start: calc(var(--ion-padding) / 4);
    --padding-end: calc(var(--ion-padding) / 4);
    --padding-top: 0;
    --padding-bottom: 0;
    --color: var(--ion-color-primary);

    height: 40px;
    width: 40px;
  }
}

ion-toolbar ion-img {
  height: 32px;
}

ion-toolbar ion-button {
  --color: #222428;
  --background: #f2f2f2;
  --border-radius: 50%;

  position: relative;

  &::part(native) {
    overflow: visible;
  }

  &:not(:last-of-type) {
    margin-right: calc(var(--ion-margin) / 2);
  }

  ion-badge {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;

    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    right: -6px;
    top: 0;
    font-size: calc(var(--ion-font-xs) - 3px);
  }
}

:host ::ng-deep .section-title {
  font-size: var(--ion-font-sm);
  font-weight: var(--ion-font-bold);
  margin-top: 0;
  margin-bottom: calc(var(--ion-margin) / 2);
}
