<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-img slot="start" src="/assets/logo-placeholder.png"></ion-img>
    <ion-buttons slot="end" class="round">
      <ion-button routerLink="notifications">
        <ion-badge color="danger" *ngIf="notifications > 0">{{ notifications }}</ion-badge>
        <ion-icon name="notifications" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <account-bar></account-bar>
  <!-- <news-ticker></news-ticker> -->
  <jj-news-ticker [prefix]="'announcement'" [messages]="messages"></jj-news-ticker>
  <wallet-cards></wallet-cards>
  <slideshow></slideshow>
  <mini-programs></mini-programs>
  <lucky-draw-cards></lucky-draw-cards>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button *ngFor="let fab of fabs" (click)="onFabClick(fab)">
      <ion-icon *ngIf="!fab.icon" name="alert"></ion-icon>
      <img *ngIf="fab.icon" [src]="fab.icon | erpImg" />
    </ion-fab-button>
  </ion-fab>
</ion-content>
