<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/jj-luckydraw/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "jj-luckydraw._CAPTURE_PAYMENT" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ng-container *ngIf="loaded">
          <cms-form [form]="form" (submit)="onSendRequest($event)"></cms-form>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
  <lucky-sms></lucky-sms>
</ion-content>
