.container {
  padding-bottom: calc(var(--ion-padding) / 2);
}

.title {
  padding-left: calc(var(--ion-padding) / 2);
}

:host ::ng-deep ion-slides .swiper-pagination {
  bottom: 0;
}

ion-slide {
  padding-bottom: calc(var(--ion-padding) * 1.5);
}

ion-grid {
  padding: 0;

  ion-col {
    position: relative;

    &:before {
      content: '';
      display: block;
      width: 100%;
      padding-top: 100%;
    }
  }

  img {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 5px;
    left: 5px;
  }
}
