ion-card {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 95%;

    ion-img {
        object-fit: cover;
    }

    ion-img.banner {
        height: 150px;
        width: 100%;
    }

    ion-img.reward {
        height: 70px;
        width: 90px;
    }
}

ion-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    --padding-end: 5px;
    --padding-start: 5px;

    border-radius: calc(var(--ion-border-radius) / 2);
}

ion-card-content.card__content.card-content-md {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 1px;
    -webkit-padding-start: 0px;
    padding-inline-start: 0px;
    -webkit-padding-end: 0px;
    padding-inline-end: 0px;
}

.card-content-ios {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 16px;
    line-height: 1.2;
    width: 100%;
}
.card-content-md {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 12px;
    line-height: 1.2;
    width: 100%;
}

.slider-pager {
    position: absolute;
    bottom: 0; }

  ion-slides ion-slide {
    padding-bottom: 30px;
  }

  ion-row.left{

    ion-col{
        text-align: left;
    }
}

