<div class="lucky-draw-container">
  <h3 class="section-title" class="ion-margin-start" style="font-weight:bold">幸运抽奖活动</h3>

  <ion-slides pager="true">
    <!-- [options]="{ slidesPerView: true, loop: true}" -->

    <!-- Slide-1 -->
    <ion-slide>
      <ion-card>
        <ion-badge size="big" color="warning">拥有99张</ion-badge>
        <ion-img class="banner" src="assets/Lucky-Draw/LuckDraw.jpg">
        </ion-img>

        <ion-card-content class='ion-no-margin'>
          <ion-grid class='ion-no-margin'>
            <ion-row>
              <ion-col size="4">
                <ion-img class="reward" src="assets/Lucky-Draw/LuckDrawDetails.jpg">
                </ion-img>
              </ion-col>
              <ion-col size="5">
                <ion-grid class="ion-no-padding">
                  <ion-row class="left">
                    <ion-col style="margin-top:3px">
                      <ion-label style="font-weight:bold; font-size: medium;" color="dark">幸运抽奖活动</ion-label>
                    </ion-col>
                  </ion-row>
                  <ion-row >

                      <ion-grid class="ion-no-padding" style="margin-top:8px">
                        <ion-row >
                          <ion-col >
                            <p><ion-text style="font-weight:bold;" color="dark">{{ countdownTimer.days | number: "2.0-0" }}</ion-text></p>
                            <ion-text style="font-size:x-small;" color="medium">天</ion-text>
                          </ion-col>
                          <ion-col size="auto" class="ion-text-center">
                            <p style="margin-left: 4px; margin-right: 4px;">:</p>
                          </ion-col>
                          <ion-col>
                            <p><ion-text style="font-weight:bold;" color="dark">{{ countdownTimer.hours | number: "2.0-0" }}</ion-text></p>
                            <ion-text style="font-size:x-small;" color="medium" class="ion-text-center">时</ion-text>
                          </ion-col>
                          <ion-col size="auto" class="ion-text-center">
                            <p style="margin-left: 4px; margin-right: 4px;">:</p>
                          </ion-col>
                          <ion-col>
                            <p><ion-text style="font-weight:bold;" color="dark">{{ countdownTimer.minutes | number: "2.0-0" }}</ion-text></p>
                            <ion-text style="font-size:x-small;" color="medium">分</ion-text>
                          </ion-col>
                          <ion-col size="auto" class="ion-text-center">
                            <p style="margin-left: 4px; margin-right: 4px;">:</p>
                          </ion-col>
                          <ion-col>
                            <p><ion-text style="font-weight:bold;" color="dark">{{ countdownTimer.seconds | number: "2.0-0" }}</ion-text></p>
                            <ion-text style="font-size:x-small;" color="medium">秒</ion-text>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                  </ion-row>
                </ion-grid>
              </ion-col>
              <ion-col>
                <div style="margin-top:4px">
                  <div>
                    <ion-text style="font-size:x-small;" color="medium">中奖几率</ion-text>
                  </div>
                  <div style="margin-top:5px">
                    <ion-text style="font-weight:bold; font-size: large;" color="dark">4.56%</ion-text>
                  </div>
                  <div style="margin-top:2px">
                    <ion-text style="font-size:x-small;" color="dark">距离2.9公里</ion-text>
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <!-- Slide-2 -->
    <ion-slide>
      <ion-card>
        <ion-badge size="big" color="warning">拥有36张</ion-badge>
        <ion-img class="banner" src="assets/Lucky-Draw/LuckDraw2.jpg">
        </ion-img>

        <ion-card-content class='ion-no-margin'>
          <ion-grid class='ion-no-margin'>
            <ion-row>
              <ion-col size="4">
                <ion-img class="reward" src="assets/Lucky-Draw/LuckDrawDetails2.jpg">
                </ion-img>
              </ion-col>
              <ion-col size="5">
                <ion-grid class="ion-no-padding">
                  <ion-row class="left">
                    <ion-col style="margin-top:3px">
                      <ion-label style="font-weight:bold; font-size: medium;" color="dark">幸运抽奖活动</ion-label>
                    </ion-col>
                  </ion-row>
                  <ion-row>

                      <ion-grid class="ion-no-padding" style="margin-top:8px">
                        <ion-row >
                          <ion-col >
                            <p><ion-text style="font-weight:bold;" color="dark">{{ countdownTimer.days | number: "2.0-0" }}</ion-text></p>
                            <ion-text style="font-size:x-small;" color="medium">天</ion-text>
                          </ion-col>
                          <ion-col size="auto" class="ion-text-center">
                            <p style="margin-left: 4px; margin-right: 4px;">:</p>
                          </ion-col>
                          <ion-col>
                            <p><ion-text style="font-weight:bold;" color="dark">{{ countdownTimer.hours | number: "2.0-0" }}</ion-text></p>
                            <ion-text style="font-size:x-small;" color="medium" class="ion-text-center">时</ion-text>
                          </ion-col>
                          <ion-col size="auto" class="ion-text-center">
                            <p style="margin-left: 4px; margin-right: 4px;">:</p>
                          </ion-col>
                          <ion-col>
                            <p><ion-text style="font-weight:bold;" color="dark">{{ countdownTimer.minutes | number: "2.0-0" }}</ion-text></p>
                            <ion-text style="font-size:x-small;" color="medium">分</ion-text>
                          </ion-col>
                          <ion-col size="auto" class="ion-text-center">
                            <p style="margin-left: 4px; margin-right: 4px;">:</p>
                          </ion-col>
                          <ion-col>
                            <p><ion-text style="font-weight:bold;" color="dark">{{ countdownTimer.seconds | number: "2.0-0" }}</ion-text></p>
                            <ion-text style="font-size:x-small;" color="medium">秒</ion-text>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                  </ion-row>
                </ion-grid>
              </ion-col>
              <ion-col>
                <div style="margin-top:4px">
                  <div>
                    <ion-text style="font-size:x-small;" color="medium">中奖几率</ion-text>
                  </div>
                  <div style="margin-top:5px">
                    <ion-text style="font-weight:bold; font-size: large;" color="dark">2.33%</ion-text>
                  </div>
                  <div style="margin-top:2px">
                    <ion-text style="font-size:x-small;" color="dark">距离100.4公里</ion-text>
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <!-- Slide-3 -->
    <ion-slide>
      <ion-card>
        <ion-badge size="big" color="warning">拥有103张</ion-badge>
        <ion-img class="banner" src="assets/Lucky-Draw/LuckDraw3.jpg">
        </ion-img>

        <ion-card-content class='ion-no-margin'>
          <ion-grid class='ion-no-margin'>
            <ion-row>
              <ion-col size="4">
                <ion-img class="reward" src="assets/Lucky-Draw/LuckDrawDetails3.jpg">
                </ion-img>
              </ion-col>
              <ion-col size="5">
                <ion-grid class="ion-no-padding">
                  <ion-row class="left">
                    <ion-col style="margin-top:3px">
                      <ion-label style="font-weight:bold; font-size: medium;" color="dark">幸运抽奖活动</ion-label>
                    </ion-col>
                  </ion-row>
                  <ion-row>

                      <ion-grid class="ion-no-padding" style="margin-top:8px">
                        <ion-row >
                          <ion-col >
                            <p><ion-text style="font-weight:bold;" color="dark">{{ countdownTimer.days | number: "2.0-0" }}</ion-text></p>
                            <ion-text style="font-size:x-small;" color="medium">天</ion-text>
                          </ion-col>
                          <ion-col size="auto" class="ion-text-center">
                            <p style="margin-left: 4px; margin-right: 4px;">:</p>
                          </ion-col>
                          <ion-col>
                            <p><ion-text style="font-weight:bold;" color="dark">{{ countdownTimer.hours | number: "2.0-0" }}</ion-text></p>
                            <ion-text style="font-size:x-small;" color="medium" class="ion-text-center">时</ion-text>
                          </ion-col>
                          <ion-col size="auto" class="ion-text-center">
                            <p style="margin-left: 4px; margin-right: 4px;">:</p>
                          </ion-col>
                          <ion-col>
                            <p><ion-text style="font-weight:bold;" color="dark">{{ countdownTimer.minutes | number: "2.0-0" }}</ion-text></p>
                            <ion-text style="font-size:x-small;" color="medium">分</ion-text>
                          </ion-col>
                          <ion-col size="auto" class="ion-text-center">
                            <p style="margin-left: 4px; margin-right: 4px;">:</p>
                          </ion-col>
                          <ion-col>
                            <p><ion-text style="font-weight:bold;" color="dark">{{ countdownTimer.seconds | number: "2.0-0" }}</ion-text></p>
                            <ion-text style="font-size:x-small;" color="medium">秒</ion-text>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                  </ion-row>
                </ion-grid>
              </ion-col>
              <ion-col>
                <div style="margin-top:4px">
                  <div>
                    <ion-text style="font-size:x-small;" color="medium">中奖几率</ion-text>
                  </div>
                  <div style="margin-top:5px">
                    <ion-text style="font-weight:bold; font-size: large;" color="dark">8.43%</ion-text>
                  </div>
                  <div style="margin-top:2px">
                    <ion-text style="font-size:x-small;" color="dark">距离56.3公里</ion-text>
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>  
</div>