<ion-list class="ion-no-padding" *ngIf="value">
    <ion-reorder-group (ionItemReorder)="reorder($event)" disabled="false">
        <ion-item-sliding *ngFor="let item of value; let i = index">
            <ion-item (click)="edit(i, $event)">
                <ion-reorder slot="start"></ion-reorder>
                <ion-label>{{ (item.label | cmsTranslate) || item }}</ion-label>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="danger" (click)="remove(i)">{{ '_REMOVE' | translate }}</ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-reorder-group>
    <ion-button color="success" fill="clear" expand="block" (click)="add($event)">
        <ion-icon name="add-circle" slot="start"></ion-icon>
        {{ '_ADD' | translate }}
    </ion-button>
</ion-list>

<ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
        <ion-header>
            <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-button (click)="cancel($event)">Cancel</ion-button>
                </ion-buttons>
                <ion-title>Welcome</ion-title>
                <ion-buttons slot="end">
                </ion-buttons>
            </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
            <cms-form *ngIf="form" (submit)="update($event)" [form]="form" [value]="value[activatedIndex]"></cms-form>
        </ion-content>
    </ng-template>
</ion-modal>