<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/tastefully"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="event">{{ event.name | cmsTranslate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <ng-container *ngIf="event">
    <div class="background" [style.background-image]="event.thumbnail | cssUrl"></div>
    <div class="content">
      <div class="w-100 ion-padding card">
        <div class="d-flex ion-align-items-center">
          <ion-icon name="time"></ion-icon>
          <div>
            <p class="ion-no-margin">{{ "tastefully._AVAILABLE_DATE" | translate }}</p>
            <small>
              <ion-text color="medium">{{ event.organisedAt | date: "YYYY-MM-dd" }}</ion-text>
            </small>
          </div>
        </div>
        <div class="d-flex ion-align-items-center">
          <ion-icon name="hourglass"></ion-icon>
          <div>
            <p class="ion-no-margin">{{ "tastefully._AVAILABLE_TIME" | translate }}</p>
            <small>
              <ion-text color="medium">
                {{ event.startAt }}&nbsp;{{ "tastefully._TO" | translate }}&nbsp;{{ event.endAt }}
              </ion-text>
            </small>
          </div>
        </div>
        <div class="d-flex ion-align-items-center">
          <ion-icon name="navigate-circle"></ion-icon>
          <div>
            <p class="ion-no-margin">{{ "tastefully._LOCATION" | translate }}</p>
            <small>
              <ion-text color="medium">{{ event.location }}</ion-text>
            </small>
          </div>
        </div>
      </div>
    </div>
    <div class="ion-padding">
      <h3>{{ "tastefully._DESCRIPTION" | translate }}</h3>
      <p>{{ event.description | cmsTranslate }}</p>
    </div>
  </ng-container>

</ion-content>