<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{ 'tastefully._HOME' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="shop">
      <ion-icon name="storefront"></ion-icon>
      <ion-label>{{ 'tastefully._SHOP' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="free-gift">
      <ion-icon name="gift"></ion-icon>
      <ion-label>{{ 'tastefully._GIFT' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lucky-draw">
      <ion-icon name="pricetags"></ion-icon>
      <ion-label>{{ 'tastefully._LUCKY' | translate }}</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="me">
      <ion-icon name="menu"></ion-icon>
      <ion-label>{{ 'tastefully._MORE' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>