<ion-grid fixed="true">

    <ion-row>
        <ion-col>
            <ion-row>
                <ion-col>
                    <div class="main-container">
                        <div class="steps-container">
                            <ion-card class="ion-background-primary ion-hide-md-down">
                                <ion-card-content>
                                    <ion-grid>
                                        <ion-row *ngIf="registerList">
                                            <ion-col *ngFor="let item of registerList.items" class="ion-text-center">
                                                <div [innerHTML]="item.htmlContent | cmsTranslate | safeHtml"></div>
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </ion-card-content>
                            </ion-card>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-col>
        <ion-col size="3" sizeSm="4"  sizeXs="4">
            <winbox99-iphone></winbox99-iphone>
        </ion-col>
    </ion-row>

    <ion-row *ngIf="downloadList">
        <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="4" *ngFor="let item of downloadList.items">
            <ion-card [href]="item.link" target="_blank" style="height: 100%;" [class.ion-activatable]="item.link" [class.ripple-parent]="item.link">
                <ion-card-content>
                    <div [innerHTML]="item.htmlContent | cmsTranslate | safeHtml">
                    </div>
                </ion-card-content>
                <ion-ripple-effect *ngIf="item.link"></ion-ripple-effect>
            </ion-card>
        </ion-col>
    </ion-row>

</ion-grid>