cms-slideshow {
    z-index: 0;
    position: relative;
}

.main-container {
    z-index: 1;
    margin-top: -40vh;
}

.steps-container {
    margin: 0;
    width: calc(100% - 248px);
    display: inline-block;
    vertical-align: bottom;
}

.steps-container>a {
    color: white;
}

.phone-container {
    height: 500px;
    width: 248px;
    // background-image: url('/assets/winbox99/iphone-13-pro-max-frame.png');
    display: inline-block;
}

.phone-container img {
    position: absolute;
}

.phone-screen {
    margin: 11px;
}