<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/jj/finance/deposit-requests"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "jj._DEPOSIT_REQUEST" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="deposit">
    <ion-list lines="full">
      <ion-item color="light">
        <ion-label><h3>{{ deposit.depositMethod?.name | erpTranslate }}</h3></ion-label>
        <ion-badge [color]="statusColor" slot="end">{{ "jj._" + deposit.status | translate }}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          <h3>{{ "jj._REFERENCE_NO" | translate }}</h3>
          <p>{{ deposit.refNo }}</p>
        </ion-label>
        <ion-label slot="end">
          <p>{{ deposit.doc_createdDate | date: "d/M/yyyy h:mma" }}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h3>{{ "jj._BENEFICIARY_WALLET_NO" | translate }}</h3>
          <p>{{ deposit.wallet.walletNo }}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h3>{{ "jj._DESCRIPTION" | translate }}</h3>
          <p>{{ deposit.description || "-" }}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h3>{{ "jj._REFERENCE_1" | translate }}</h3>
          <p>{{ deposit.reference1 || "-" }}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h3>{{ "jj._REFERENCE_2" | translate }}</h3>
          <p>{{ deposit.reference2 || "-" }}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h3>{{ "jj._REFERENCE_3" | translate }}</h3>
          <p>{{ deposit.reference3 || "-" }}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h3>{{ 'jj._AMOUNT' | translate }}</h3>
          <p><jj-currency [currency]="deposit.wallet.displayCurrency" [value]="deposit.amount"></jj-currency></p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="onApprove()">
            <ion-label>{{ "jj._APPROVE" | translate }}</ion-label>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" fill="outline" (click)="onDecline()">
            <ion-label>{{ "jj._DECLINE" | translate }}</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>

<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/jj/wallets"></ion-back-button>
    </ion-buttons>
    <ion-title>Withdraw Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="details">
      <ion-row>
        <ion-col size="auto">
          <h3>Transaction No: </h3>
          <h3>Date/Time: </h3>
          <h3>Wallet: </h3>
          <h3>Wallet Ref: </h3>
          <h3>Amount: </h3>
          <h3>Description: </h3>
          <h3>Refer 1: </h3>
          <h3>Refer 2: </h3>
          <h3>Refer 3: </h3>
          <h3>Withdraw Method: </h3>
          <h3>Attachment:  </h3>
        </ion-col>
        <ion-col>
          <h3>2211004939530583</h3>
          <h3>11/11/2022 11:11:11 PM</h3>
          <h3>102922012293</h3>
          <h3>2034968320394940392.00</h3>
          <h3>RM500.00</h3>
          <h3>MDSP</h3>
          <h3>2335678402245</h3>
          <h3>-</h3>
          <h3>-</h3>
          <h3>Bank Transfer</h3>
          <h3>1 Document <a class="attachment">查看附件</a></h3>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card>
      <ion-card-content class="ion-no-padding">
          <ion-grid class="bank-details">
              <ion-row>
                <ion-col size="auto">
                  <h3>Bank: </h3>
                  <h3>Account: </h3>
                  <h3>Name: </h3>
                </ion-col>
                <ion-col>
                  <h3>Maybank</h3>
                  <h3>111111111111</h3>
                  <h3>TAN AH KAU</h3>
                </ion-col>
              </ion-row>
            </ion-grid>
      
      </ion-card-content>
    </ion-card>
</ion-content>

<ion-footer>
  <ion-button expand="block" size="large" fill="outline">Reject</ion-button>
  <ion-button expand="block" size="large">Approve</ion-button>
</ion-footer> -->
