<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "tastefully._SETTINGS" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label>{{ '_LANGUAGE' | translate }}</ion-label>
            <ion-select [(ngModel)]="currentLang" (ionChange)="onLanguageChange()">
              <ion-select-option *ngFor="let lang of languages" [value]="lang.code">
                <ion-label>{{ lang.label | cmsTranslate }}</ion-label>
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>