<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [text]="'_BACK' | translate" [defaultHref]="'/jj/wallets/' + walletNo"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "jj._DEPOSIT" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <div class="ion-padding-sm">
          <cms-form [form]="form" [value]="formValue" (submit)="onNext($event)"></cms-form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
