<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/jj/scratch-and-win"></ion-back-button>
    </ion-buttons>
    <div *ngIf="event?.logo" class="event-logo">
      <ion-img [src]="event.logo | erpImg"></ion-img>
    </div>
    <ion-title *ngIf="!event?.logo">{{ event?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <div *ngIf="!requests?.length" class="note">
      <ion-label>{{ 'jj._NO_HISTORY_FOUND' | translate }}</ion-label>
    </div>
    <ng-container *ngFor="let request of requests; let index = index">
      <h3 class="title" *ngIf="showRequestDate(index)">{{ request.doc_createdDate | date: "MM-dd-YYYY" }}</h3>
      <ion-item [detail]="false">
        <ion-label>
          <h3>{{ request.prize.nameTranslation | cmsTranslate }}</h3>
          <p>{{ request.doc_createdDate | date: "HH:mm" }}</p>
        </ion-label>
        <ion-thumbnail slot="end">
          <img [src]="request.prize.thumbnailImage | erpImg" />
        </ion-thumbnail>
      </ion-item>
    </ng-container>
  </ion-list>
  <ng-container *ngIf="requests?.length">
    <ion-infinite-scroll *ngIf="!requestsEnded" (ionInfinite)="loadMoreRequests($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <div *ngIf="requestsEnded" class="note">
      <ion-label>{{ "jj._NO_MORE_HISTORY" | translate }}</ion-label>
    </div>
  </ng-container>
</ion-content>
