<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/jj/wallets"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngFor="let date of dates">
    <div *ngFor="let deposit of deposits[date]">
    <div class="ion-text-center ion-margin">
      <ion-badge class="{{ deposit.status }}"><h2 style="padding-bottom: 5px;">{{ deposit.status || '-' }}</h2></ion-badge>
    </div>
    
    <ion-item lines="full" class="transaction">
    <ion-grid class="details">
      <ion-row>
        <ion-col size="auto">
          <h3>{{ '_REFERENCE_NO' | translate }}</h3>
          <h3>{{ '_DEPOSIT_IN' | translate }}</h3>
          <h3>{{ '_WALLET' | translate }}</h3>
          <h3>{{ '_AMOUNT' | translate }}</h3>
          <h3>{{ '_DESCRIPTION' | translate }}</h3>
          <h3>{{ '_REFERENCE_1' | translate }}</h3>
          <h3>{{ '_REFERENCE_2' | translate }}</h3>
          <h3>{{ '_REFERENCE_3' | translate }}</h3>
          <h3>{{ '_METHOD' | translate }}</h3>
          <h3>{{ '_ATTACHMENT' | translate }}</h3>
        </ion-col>
        <ion-col>
          <h3>{{ deposit.refNo || '-' }}</h3>
          <h3>{{ deposit.doc_createdDate | date: 'd/M/yyyy hh:mm:ss a' }}</h3>
          <h3>102922102293</h3>
          <h3>RM{{ deposit.amount | number:'.2-2' || '-' }}</h3>
          <h3>{{ deposit.description || '-' }}</h3>
          <h3>{{ deposit.reference1 || '-' }}</h3>
          <h3>{{ deposit.reference2 || '-' }}</h3>
          <h3>{{ deposit.reference3 || '-' }}</h3>
          <h3>Bank Transfer</h3>
          <h3>Attachment <span class="underline font-blue">{{ '_VIEW_ATTACHMENT' | translate }}</span> </h3>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  </div>
</ng-container>
    <ion-card>
      <ion-card-content>
        <h3>{{ 'jj._BANK' | translate }}: <span>Maybank</span> </h3>
        <h3>{{ 'jj._ACCOUNT_NO' | translate }}: <span>123456654321</span> </h3>
        <h3>{{ 'jj._HOLDER_NAME' | translate }}: <span>Da Shuai Ge</span> </h3>
      </ion-card-content>
    </ion-card>
  </ion-content>

  <!-- <bank-account
[bank]="bankAccount?.bank?.name"
[holder]="bankAccount?.holderName"
[accountNo]="bankAccount?.accountNo"
></bank-account> -->

  <ion-footer>
    <ion-button expand="block">{{ '_CONTACT_US' | translate }}</ion-button>
  </ion-footer>