<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/jj/wallets"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-badge color="warning">Pending</ion-badge>
    <ion-grid class="details">
      <ion-row>
        <ion-col size="auto">
          <h3>参考编号</h3>
          <h3>存入于</h3>
          <h3>钱包</h3>
          <h3>金额</h3>
          <h3>说明</h3>
          <h3>参考1</h3>
          <h3>参考2</h3>
          <h3>参考3</h3>
          <h3>方式</h3>
          <h3>附件</h3>
        </ion-col>
        <ion-col>
          <h3>22111102293</h3>
          <h3>11/11/2022 10:00:00 PM</h3>
          <h3>102922102293</h3>
          <h3>RM100.00</h3>
          <h3>AAA</h3>
          <h3>22111102293</h3>
          <h3>-</h3>
          <h3>-</h3>
          <h3>Bank Transfer</h3>
          <h3>Attachment <span class="underline font-blue">View Attachment</span> </h3>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card>
      <ion-card-content>
        <h3>银行: <span>Maybank</span> </h3>
        <h3>户口: <span>123456654321</span> </h3>
        <h3>名字: <span>Da Shuai Ge</span> </h3>
      </ion-card-content>
    </ion-card>
  </ion-content>

  <ion-footer>
    <ion-button expand="block">联系客服</ion-button>
  </ion-footer>