.container {
  padding: 0 calc(var(--ion-padding) / 2);
  margin: calc(var(--ion-margin) / 2) 0;
}

ion-slide img {
  width: 100%;
  height: 25vh;
  max-height: 168px;
  object-fit: cover;
  object-position: center;
  border-radius: var(--ion-border-radius);
}

ion-slides:not(.prizes) {
  overflow: visible;
}

:host ::ng-deep ion-slides.lucky-draws .swiper-pagination {
  bottom: 0;
}

ion-slide.lucky-draw {
  padding-bottom: calc(var(--ion-padding) * 2);
}

ion-slides.prizes {
  height: 100%;
}
