.container {
  padding: 0 calc(var(--ion-padding) / 2);
  margin-top: calc(var(--ion-margin) / 2);
  margin-bottom: calc(var(--ion-margin) / 2);
}

ion-slide img {
  width: 100%;
  height: 25vh;
  max-height: 168px;
  object-fit: cover;
  object-position: center;
  border-radius: var(--ion-border-radius);
}

// :host ::ng-deep ion-slides .swiper-pagination {
//   bottom: 0;
// }

// ion-slide {
//   padding-bottom: calc(var(--ion-padding) * 1.5);
// }
