ion-card {
    text-align : center;
    margin-top : -38px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
    padding: 4px;
    padding-inline: 8px;
    border-radius: 10px;
}

ion-col.right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

ion-col.left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

ion-col.middle {
    align-items: center;
}

ion-grid {
    padding: 0px;
}

div.card {
    margin-inline: 8px;
    padding: 8px;
}

img {
    width: 100vh;
    height: 200px;
    object-fit: cover;
}


    



