<div class="container">
  <ion-slides [pager]="true">
    <ion-slide>
      <img src="./assets/jj/lucky-draw/lucky-draw-01.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="./assets/jj/lucky-draw/lucky-draw-02.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="./assets/jj/lucky-draw/lucky-draw-03.jpg" />
    </ion-slide>
  </ion-slides>
  <div class="card-container">
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <p>Vouchers</p>
              <h3>9,999Pcs</h3>
            </ion-col>
            <ion-col>
              <p>Jackpot</p>
              <h3>1</h3>
            </ion-col>
            <ion-col>
              <ion-button size="small" fill="clear" routerLink="../my-rewards">
                <ion-label>{{ '_VIEW_ALL' | translate }}</ion-label>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</div>
