<ion-slides pager class="slideshows">
  <ion-slide>
    <img src="./assets/lucky-draw.jpg" />
  </ion-slide>
  <ion-slide>
    <img src="./assets/event-cover.jpg" />
  </ion-slide>
  <ion-slide>
    <img src="./assets/lucky-draw.jpg" />
  </ion-slide>
</ion-slides>
<div class="card-container">
  <ion-card>
    <ion-card-content class="d-flex items-center justify-between">
      <div>
        <ion-text color="medium">Vouchers</ion-text><br />
        <ion-text color="dark" class="font-bold">9,999Pcs</ion-text>
      </div>
      <div class="ion-text-center">
        <ion-text color="medium">Jackpot</ion-text><br />
        <ion-text color="dark" class="font-bold">1</ion-text>
      </div>
      <div>
        <ion-text class="color-orange">View All</ion-text>
      </div>
    </ion-card-content>
  </ion-card>
</div>
