<ion-content class="ion-padding-top"> 
  <div>
 <ion-slides pager class="slideshows">
  <ion-slide>
    <div>
      <img src="./assets/lucky-draw.jpg"/>   
    </div>
  </ion-slide>
  <ion-slide>
    <div>
      <img src="./assets/event-cover.jpg"/>
    </div>
  </ion-slide>
  <ion-slide>
    <div>
      <img src="./assets/lucky-draw.jpg"/>
    </div>
  </ion-slide>
</ion-slides>
</div>
<div class="card">
<ion-card>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-text color="medium" class="left">Vouchers</ion-text> <br />
      <ion-text class="font-bold" color="dark">9,999Pcs</ion-text>
    </ion-col>

    <ion-col>
      <ion-text color="medium">Jackpot</ion-text> <br />
      <ion-text class="font-bold" color="dark">1</ion-text>
    </ion-col>

    <ion-col class="right">
      <ion-text class="orange">View All</ion-text>
    </ion-col>

  </ion-row>
</ion-grid>
</ion-card>
</div>
</ion-content>
