<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/jj/membership/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "jj._MY_DASHBOARD" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <account-bar></account-bar>

  <ion-list lines="none">
    <ion-item routerLink="edit-profile">
      <ion-icon slot="start" name="people"></ion-icon>
      <ion-label><h3>{{ "_EDIT_PROFILE" | translate }}</h3></ion-label>
    </ion-item>
    <ion-item routerLink="change-password">
      <ion-icon slot="start" name="key"></ion-icon>
      <ion-label><h3>{{ "_CHANGE_PASSWORD" | translate }}</h3></ion-label>
    </ion-item>
    <ion-item routerLink="change-language">
      <ion-icon slot="start" name="language"></ion-icon>
      <ion-label><h3>{{ "_CHANGE_LANGUAGE" | translate }}</h3></ion-label>
    </ion-item>
  </ion-list>

  <ion-list lines="none">
    <ion-item *ngFor="let contentPage of contentPages" [routerLink]="['/jj/common/content-page', contentPage.doc_id]">
      <ion-icon slot="start" [name]="contentPage.icon || 'document'"></ion-icon>
      <ion-label><h3>{{ contentPage.title }}</h3></ion-label>
    </ion-item>
  </ion-list>

  <ion-list lines="none">
    <ion-item class="logout-item">
      <ion-icon slot="start" name="log-out"></ion-icon>
      <ion-label><h3>{{ "_LOGOUT" | translate }}</h3></ion-label>
    </ion-item>
  </ion-list>
</ion-content>
