<!-- <div *ngIf="wallets; else loading" class="container">
  <ion-card *ngFor="let wallet of wallets" routerLink="/jj/wallets/{{ wallet.walletNo }}">
    <ion-card-content>
      <p>{{ 'jj._BALANCE' | translate }}</p>
      <h3><jj-currency [value]="wallet.walletBalance"></jj-currency></h3>
    </ion-card-content>
    <ion-icon
      [name]="wallet.icon || 'wallet'"
      [style.color]="wallet.colors ? wallet.colors['primary'] : 'var(--ion-color-primary)'"
    ></ion-icon>
  </ion-card>
</div>

<ng-template #loading>
  <div class="container container-loading">
    <ion-card *ngFor="let i of [1, 1, 1]">
      <ion-card-content>
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </div>
</ng-template> -->

<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="openQrCode()">
      <ion-icon slot="icon-only" name="qr-code"></ion-icon>
    </ion-button>
  </ion-buttons>
  <div class="wallets" *ngIf="wallets; else loading">
    <ion-card *ngFor="let wallet of wallets" [routerLink]="['/jj/wallets/', wallet.walletNo]">
      <ion-card-content>
        <p>{{ wallet.walletType.name | cmsTranslate }}</p>
        <h3><jj-currency [currency]="wallet.displayCurrency" [value]="wallet.walletBalance"></jj-currency></h3>
      </ion-card-content>
    </ion-card>
  </div>
  <ng-template #loading>
    <div class="wallets wallets-loading">
      <ion-card *ngFor="let i of [1, 1]">
        <ion-card-content>
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
    </div>
  </ng-template>
  <ion-buttons slot="end">
    <ion-button routerLink="/jj/account">
      <ion-icon slot="icon-only" name="settings"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
