.user-name {
  display: flex;
  align-items: center;
  justify-content: space-between;

  ion-chip {
    height: auto;
    font-size: var(--ion-font-xs);
    padding: calc(var(--ion-padding) / 4) calc(var(--ion-padding) / 2);
    margin: 0;
  }
}
