<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onDismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <bank-account
    *ngIf="bankAccount"
    [bank]="bankAccount.bankName"
    [holder]="bankAccount.holderName"
    [accountNo]="bankAccount.accountNo"
  ></bank-account>
  <div class="ion-padding-horizontal">
    <cms-form [form]="form" (submit)="onUpload($event)"></cms-form>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button id="upload-deposit-btn" expand="block">
      <ion-label>{{ 'jj._PAY' | translate }}</ion-label>
    </ion-button>
  </ion-toolbar>
</ion-footer>
