<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/jj" [text]="platform.is('ios') ? ('_BACK' | translate) : ''"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'jj._REFERRER' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <div class="d-flex-center" style="height: 100%;">
    <div *ngIf="path" class="ion-text-center">
      <qrcode [qrdata]="path" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
      <ion-text><small>{{ me.firstName }} {{ me.lastName }}</small></ion-text><br />
      <ion-text class="ion-margin-vertical"><strong>{{ me.phone }}</strong></ion-text>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border" *ngIf="canShare">
  <ion-toolbar color="primary">
    <ion-button expand="block" color="light" (click)="share($event)">{{ '_SHARE' | translate }}</ion-button>
  </ion-toolbar>
</ion-footer>
