<ion-header>
  <ion-toolbar>
    <ion-title>{{ "tastefully._MENU" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="full" class="me">
      <ion-avatar slot="start">
        <ion-img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQybfZDCOylNw3wPpQ9r0F9khF0mXeRcSzx5A&usqp=CAU">
        </ion-img>
      </ion-avatar>
      <ion-label>
        <h3>Soh Yee Lin</h3>
        <!-- <small>
          <ion-icon name="male"></ion-icon>
          <ion-text color="medium">&nbsp;/&nbsp;26 yo</ion-text>
        </small> -->
        <!-- <small>
          <ion-text color="medium">{{ 'tastefully._EDIT_PROFILE' | translate }}</ion-text>
        </small> -->
      </ion-label>
    </ion-item>
    <ion-item lines="none" routerLink="/tastefully/settings">
      <ion-icon name="settings" slot="start"></ion-icon>
      <ion-label>{{ 'tastefully._SETTINGS' | translate }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>