<ion-header>
  <ion-toolbar>
    <ion-title>{{ "tastefully._MENU" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="full" class="me">
      <ion-avatar slot="start">
        <img class="avatar" *ngIf="CURRENT_CUSTOMER" [src]="CURRENT_CUSTOMER.profilePic" />
        <img class="avatar" *ngIf="!CURRENT_CUSTOMER" src="/assets/avatar-placeholder.png" />
      </ion-avatar>
      <ion-label>
        <h3 *ngIf="CURRENT_CUSTOMER">{{ CURRENT_CUSTOMER.name }}</h3>
        <h3 *ngIf="!CURRENT_CUSTOMER">{{ "tastefully._GUEST" | translate }}</h3>
      </ion-label>
    </ion-item>
    <ion-item lines="none" routerLink="/tastefully/settings">
      <ion-icon name="settings" slot="start"></ion-icon>
      <ion-label>{{ 'tastefully._SETTINGS' | translate }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>