<ion-card class="ion-no-margin">
  <!-- <ion-card-header>
  </ion-card-header> -->
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card-subtitle>Pending Approval</ion-card-subtitle>
          <ion-card-title>2</ion-card-title>
        </ion-col>
        <ion-col style="display: flex; align-items: center; justify-content: end;">
          <ion-icon style="color: var(--ion-color-light); font-size: xxx-large;" name="checkbox"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="ion-text-right">
      <ion-button shape="round">Check Now</ion-button>
    </div>
  </ion-card-content>
</ion-card>