<ng-container *ngIf="formGroup">
    <ion-list [formGroup]="formGroup">
        <ng-container *ngFor="let item of form.items">
            <ng-container [ngSwitch]="item.type">
    
                <ng-container *ngSwitchCase="'array'">
                    <ion-list-header>{{ item.label | cmsTranslate }}</ion-list-header>
                    <cms-array-input [data-type]="item.dataType" [formControlName]="item.code"></cms-array-input>
                </ng-container>
    
                <ng-container *ngSwitchCase="'cms-translate-editor'">
                    <ion-list-header>{{ item.label | cmsTranslate }}</ion-list-header>
                    <cms-translation-editor-input [formControlName]="item.code"></cms-translation-editor-input>
                </ng-container>
    
                <ng-container *ngSwitchCase="'checkbox'">
                    <ion-item>
                        <ion-checkbox [formControlName]="item.code"></ion-checkbox>
                        <ion-label position="fixed">{{ item.label | cmsTranslate }}</ion-label>
                    </ion-item>
                </ng-container>
    
                <ng-container *ngSwitchDefault>
                    <ion-item>
                        <ion-label position="fixed">{{ item.label | cmsTranslate }}</ion-label>
                        <ng-container [ngSwitch]="item.type">
                            <ion-input *ngSwitchCase="'email'" type="email" [formControlName]="item.code"></ion-input>
                            <ion-input *ngSwitchCase="'password'" type="password" [formControlName]="item.code"></ion-input>
                            <cms-file-input *ngSwitchCase="'file'" [formControlName]="item.code"></cms-file-input>
                            <cms-translation-input *ngSwitchCase="'cms-translate'" [formControlName]="item.code"></cms-translation-input>
                            <ion-input *ngSwitchDefault [formControlName]="item.code"></ion-input>
                        </ng-container>
                    </ion-item>
                </ng-container>
            </ng-container>
        </ng-container>
    </ion-list>
</ng-container>

<hr />

<ion-button (click)="onSubmit($event)" expand="block">{{ '_SUBMIT' | translate }}</ion-button>
<!-- <ion-button (click)="onPrint($event)" expand="block">{{ '_PRINT' | translate }}</ion-button> -->