<ion-content class="ion-padding"> 
  <ion-card>
 <ion-slides class="slideshows">
  <ion-slide>
    <div>
      <img src="./assets/image-placeholder.jpg" />   
    </div>
  </ion-slide>
  <ion-slide>
    <div>
      <img src="./assets/image-placeholder.jpg" />
    </div>
  </ion-slide>
  <ion-slide>
    <div>
      <img src="./assets/image-placeholder.jpg" />
    </div>
  </ion-slide>
 </ion-slides>
</ion-card>
 <ion-card>
  <ion-grid>
    <ion-row class="flex">
      <ion-col>
        <ion-text>Lucky Draw</ion-text> <br />
        <ion-text>99999</ion-text>
      </ion-col>

      <ion-col class="items-center">
        <ion-text>Jackpot</ion-text> <br />
        <ion-text class="items-center">1</ion-text>
      </ion-col>

      <ion-col>
        <ion-text class="pt-2">View All</ion-text>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-card>
</ion-content>
