.logo {
  width: var(--ion-fab-button-size);
  height: var(--ion-fab-button-size);
}

ion-card {
  margin: var(--ion-margin);

  ion-card-header,
  ion-card-content {
    ion-grid,
    ion-row,
    ion-col {
      padding: 0;
    }
  }
}

.actions {
  display: grid;
  gap: calc(var(--ion-padding) / 2);
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin: var(--ion-margin);

  ion-card {
    margin: 0;
  }
}

.actions ion-card,
.summary ion-card {
  --color: var(--ion-color-dark);

  ion-card-content {
    display: flex;
    align-items: center;

    ion-icon {
      font-size: var(--ion-font-4xl);
      margin-right: var(--ion-margin);
    }
  }
}

.summary {
  padding-top: calc(var(--ion-padding) / 2);

  .title {
    margin-left: var(--ion-margin);
  }
}
