<ion-menu contentId="home-content">
  <ion-header>
    <menu-header></menu-header>
  </ion-header>
  <ion-content>
    <menu-content></menu-content>
  </ion-content>
  <ion-footer>
    <menu-footer></menu-footer>
  </ion-footer>
</ion-menu>

<div class="ion-page" id="home-content">
  <ion-header class="ion-header-clear">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="openMenu()">
          <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-card>
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card-subtitle>{{ merchant?.code }}</ion-card-subtitle>
              <ion-card-title>{{ merchant?.name }}</ion-card-title>
            </ion-col>
            <ion-col size="auto">
              <ion-avatar class="logo">
                <ion-img [src]="merchant?.logo | erpImg"></ion-img>
              </ion-avatar>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
    </ion-card>
    <ion-card class="actions">
      <ion-card-content>
        <ion-card (click)="onCreateUser()">
          <ion-card-content>
            <ion-icon name="person-add-outline"></ion-icon>
            <ion-label>{{ "jj._CREATE_USER" | translate }}</ion-label>
          </ion-card-content>
        </ion-card>
        <ion-card (click)="onIssueTicket()">
          <ion-card-content>
            <ion-icon name="ticket-outline"></ion-icon>
            <ion-label>{{ "jj._ISSUE_TICKETS" | translate }}</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-card-content>
    </ion-card>
    <ng-container *ngIf="wallets">
      <ion-card *ngFor="let wallet of wallets">
        <ion-card-header>
          <!-- <ion-card-subtitle>{{ 'jj._BALANCE' | translate }}</ion-card-subtitle>
          <ion-card-title>{{ 'jj._POINTS_WITH_COUNT' | translate: { count: wallet?.walletBalance } }}</ion-card-title> -->
          <!-- <ion-card-title>{{ wallet?.walletNo }}</ion-card-title> -->
          <ion-card-title class="wallet-balance">
            <jj-currency [currency]="wallet?.displayCurrency" [value]="wallet?.walletBalance"></jj-currency>
          </ion-card-title>
          <ion-card-subtitle>
            {{ wallet.walletType.name | cmsTranslate }}
            <ion-text class="ion-float-right">{{ wallet?.walletNo }}</ion-text>
          </ion-card-subtitle>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button expand="block" (click)="openQrCode(wallet)">
                  <ion-icon name="qr-code" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button expand="block" (click)="onCapturePayment()">
                  <ion-icon name="scan" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button expand="block" routerLink="wallet-transactions" [queryParams]="{ walletId: wallet.doc_id }">
                  <ion-icon name="list" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-header>
      </ion-card>
    </ng-container>
    <div class="summary">
      <h3 class="title">{{ "jj._SUMMARY_REPORT" | translate }}</h3>
      <ion-card class="card-clear">
        <ion-card-content>
          <ion-icon class="icon-fill" name="ticket-outline"></ion-icon>
          <div>
            <ion-card-subtitle>{{ "jj._TOTAL_OF_TICKETS" | translate }}</ion-card-subtitle>
            <ion-card-title>{{ merchant?.totalOfTickets }}</ion-card-title>
          </div>
        </ion-card-content>
      </ion-card>
      <ion-card class="card-clear">
        <ion-card-content>
          <ion-icon class="icon-fill" name="trophy-outline"></ion-icon>
          <div>
            <ion-card-subtitle>{{ "jj._TOTAL_OF_WINNERS" | translate }}</ion-card-subtitle>
            <ion-card-title>{{ merchant?.totalOfWinners }}</ion-card-title>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
</div>
