<ion-card>
  <ion-card-content>
    <h3 class="title">{{ 'jj._NEAREST_MERCHANT' | translate }}</h3>
    <ion-item lines="none">
      <ion-button slot="start">
        <ion-icon slot="icon-only" name="storefront"></ion-icon>
      </ion-button>
      <ion-label>
        <h3>{{ event?.merchant?.name }}</h3>
        <p>{{ 'jj._DISTANCE_AWAY' | translate: { distance: event?.distance + 'KM' } }}</p>
      </ion-label>
      <ion-button slot="end" color="light" (click)="openLocation()">
        <ion-icon slot="icon-only" name="locate"></ion-icon>
      </ion-button>
      <!-- <ion-button slot="end" color="light">
        <ion-icon slot="icon-only" name="ellipsis-horizontal-circle-outline"></ion-icon>
      </ion-button> -->
    </ion-item>
  </ion-card-content>
</ion-card>
