.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0 calc(var(--ion-padding) * 1.5);
  margin: calc(var(--ion-margin) / 2) 0;
  background-color: var(--ion-item-background, #ffffff);
}

ion-button {
  flex: 0 1 25%;
  margin: calc(var(--ion-margin) / 4) 0;
  height: fit-content;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: calc(var(--ion-padding) / 4);

    ion-icon {
      font-size: var(--ion-font-4xl);
    }

    ion-label {
      font-size: var(--ion-font-xs);
    }
  }
}
