.container {
  .mini-program {
    text-align: center;
    .mini-program-icon {
      font-size: var(--ion-font-2xl);
      padding: var(--ion-padding);
      border-radius: 50%;
    }

    .mini-program-name {
      font-size: var(--ion-font-xs);
      font-weight: normal;
      margin: 0;
      line-height: 1;
    }
  }
}
