<div class="container">
  <ion-grid>
    <ion-row>
      <ion-col size="3" *ngFor="let miniProgram of miniPrograms">
        <div class="mini-program ion-activatable ripple-parent" (click)="onMiniProgramClick(miniProgram)">
          <div class="mini-program-wrapper" [class.inactive]="!miniProgram.isActive">
            <ion-icon
              class="mini-program-icon"
              [name]="miniProgram.icon"
              [style.color]="miniProgram.colors?.['primary']"
              [style.background-color]="miniProgram.colors?.['primary-light']"
            >
            </ion-icon>
            <h3 class="mini-program-name">{{ miniProgram.name | erpTranslate }}</h3>
            <ion-ripple-effect></ion-ripple-effect>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
