:host {
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.phone-container,
.phone-frame,
.phone-screen {
    width: fit-content;
}

.phone-container {
    padding: 12px;
}

.phone-screen {
    border-radius: 10%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.phone-frame {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        transform: scale(1.04);
    }
}
