<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/jj/wallets"></ion-back-button>
      </ion-buttons>
      <ion-title>取出明细</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="ion-text-center ion-margin">
        <ion-badge color="warning"><h2 style="padding-bottom: 5px;">等待核实中</h2></ion-badge>
    </div>

    <ion-grid class="details">
        <ion-row>
          <ion-col size="auto">
            <h3>参考编号：</h3>
            <h3>存入于：</h3>
            <h3>钱包：</h3>
            <h3>金额：</h3>
            <h3>说明：</h3>
            <h3>参考1:</h3>
            <h3>参考2:</h3>
            <h3>参考3:</h3>
            <h3>方式：</h3>
            <h3>附件：</h3>
          </ion-col>
          <ion-col>
            <h3>22111102293</h3>
            <h3>11/11/2022 11:11:11 PM</h3>
            <h3>102922012293</h3>
            <h3>RM500.00</h3>
            <h3>MDSP</h3>
            <h3>22111102293</h3>
            <h3>-</h3>
            <h3>-</h3>
            <h3>银行转账</h3>
            <h3>1个文件 <a class="attachment">查看附件</a></h3>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-card>
        <ion-card-content class="ion-no-padding">
            <ion-grid class="bank-details">
                <ion-row>
                  <ion-col size="auto">
                    <h3>银行：</h3>
                    <h3>户口：</h3>
                    <h3>名字：</h3>
                  </ion-col>
                  <ion-col>
                    <h3>Maybank</h3>
                    <h3>111111111111</h3>
                    <h3>TAN AH BENG</h3>
                  </ion-col>
                </ion-row>
              </ion-grid>
        
        </ion-card-content>
      </ion-card>
  </ion-content>

  <ion-footer>
    <ion-button expand="block" size="large">联系客服</ion-button>
  </ion-footer>
  

  