<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/jj/wallets/:walletNo/search-phone"></ion-back-button>
    </ion-buttons>
    <ion-title>Transfer History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-list-header>11/11/2022</ion-list-header>
      <ion-item lines="full" class="transaction"  href="/jj/wallets/:walletNo/transfer" button detail="false">
        <div class="ion-padding-vertical-sm">
          <ion-text class="reference1">Transfer to</ion-text><br />
          <ion-text class="description">TAN AH KAU</ion-text><br />
          <ion-text class="reference1">22111102293</ion-text><br />
          <ion-text class="reference2">Transfer to wallet</ion-text>
        </div>
        <div slot="end">
          <ion-text class="description" style="color:var(--ion-color-danger)">- RM500.00</ion-text><br />
        </div>
      </ion-item>

      <ion-item lines="full" class="transaction">
        <div class="ion-padding-vertical-sm">
          <ion-text class="reference1">Receive from</ion-text><br />
          <ion-text class="description">TAN AH KAU</ion-text><br />
          <ion-text class="reference1">22111102294</ion-text><br />
          <ion-text class="reference2">Transfer to wallet</ion-text>
        </div>
        <div slot="end">
          <ion-text class="description" style="color:var(--ion-color-success)">+ RM500.00</ion-text><br />
        </div>
      </ion-item>
  </ion-list>

  <div class="note">
    <ion-label>
      <ion-text>
        All history is loaded
      </ion-text>
    </ion-label>
  </div>


  <!-- <ng-container *ngIf="dates?.length">
    <ion-infinite-scroll *ngIf="!transactionsEnded" (ionInfinite)="loadMoreTransactions($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <div *ngIf="transactionsEnded" class="note">
      <ion-label>
        <ion-text>{{ '_ALL_LOADED' | translate }}</ion-text><br />
        <ion-text>
          {{ '_UPDATED_AT_WITH_DATE' | translate: { date: (updatedAt | date: 'd/M/yyyy hh:mm:ss a') } }}
        </ion-text>
      </ion-label>
    </div>
  </ng-container> -->
</ion-content>

