<ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button>{{ '_VIEW_ALL' | translate }}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>10</ion-card-title>
      <ion-card-subtitle>{{ '_TICKET_ISSUED' | translate }}</ion-card-subtitle>
    </ion-card-content>
  </ion-card>
</ion-content>