<ion-card class="ion-margin-vertical-sm">
  <ion-card-content>
    <ion-text><small>{{ 'jj-luckydraw._BALANCE' }}</small></ion-text><br />
    <ion-text><strong>{{ 'RM' }} {{ '10000' | number }}</strong></ion-text>
  </ion-card-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" routerLink="/jj-luckydraw/merchant/capture">
          <ion-icon name="scan" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" routerLink="/jj-luckydraw/merchant/qr">
          <ion-icon name="qr-code" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" routerLink="/jj-luckydraw/merchant/transactions">
          <ion-icon name="list" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>