.wallet-summary {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
  position: relative;

  .label {
    font-size: var(--ion-font-sm);
  }

  .content {
    font-size: var(--ion-font-lg);
  }

  .balance {
    font-weight: var(--ion-font-bold);
    font-size: var(--ion-font-xl);
  }

  .icon {
    font-size: var(--ion-font-2xl);
    position: absolute;
    right: var(--ion-padding, 16px);
    bottom: var(--ion-padding, 16px);
  }
}

.wallet-card {
  text-align: center;
  padding: var(--ion-padding, 16px);
  border-radius: var(--ion-border-radius, 8px);
  background-color: var(--ion-color-primary-light);
  color: var(--ion-color-primary);

  .icon {
    font-size: var(--ion-font-2xl);
  }

  .label {
    font-size: var(--ion-font-sm);
  }

  &.inactive {
    opacity: 0.4;
  }
}
