<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="{{ '_BACK' | translate }}" defaultHref="/jj/wallets"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="wallet">
    <div class="ion-padding wallet-summary">
      <ion-text class="label">{{ wallet.walletType.name | cmsTranslate }}</ion-text><br />
      <ion-text class="content">{{ wallet.walletNo }}</ion-text><br />
      <ion-text class="label">{{ 'jj._BALANCE' | translate }}</ion-text><br />
      <ion-text class="balance">
        <jj-currency [currency]="displayCurrency" [value]="wallet.walletBalance"></jj-currency>
      </ion-text>
      <ion-icon class="icon" name="gift"></ion-icon>
    </div>

    <ion-button routerLink="./transactions" expand="block" fill="clear">
      <ion-label>{{ 'jj._TRANSACTIONS' | translate }}</ion-label>
      <ion-icon color="primary-light" name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-button>

    <ion-grid>
      <ion-row>
        <ion-col size="4" *ngFor="let card of cards">
          <div
            class="ion-activatable ripple-parent wallet-card"
            [class.inactive]="!card.active"
            (click)="onCardClick(card)"
          >
            <ion-icon class="icon" [name]="card.icon"></ion-icon><br />
            <ion-text class="label">{{ card.name | translate }}</ion-text>
            <ion-ripple-effect></ion-ripple-effect>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
</ion-content>
