<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [text]="backButtonText" defaultHref="/jj/wallets"></ion-back-button>
    </ion-buttons>
    <div class="ion-padding-horizontal" *ngIf="wallet">
      <h1 class="header-title">{{ wallet.walletNo }}</h1>
      <h2 class="header-subtitle">
        <span>{{ wallet.walletType?.name | cmsTranslate }}&nbsp;@&nbsp;</span>
        <jj-currency [currency]="wallet.displayCurrency" [value]="wallet.walletBalance"></jj-currency>
      </h2>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list lines="full">
    <div *ngIf="!dates?.length" class="note">
      <ion-label>{{ 'jj._NO_TRANSACTIONS_FOUND' | translate }}</ion-label>
    </div>
    <ng-container *ngFor="let date of dates">
      <ion-list-header>{{ date }}</ion-list-header>
      <ion-item
        class="transaction"
        *ngFor="let transaction of transactions[date]"
        (click)="openDetails(transaction.identifier1)"
      >
        <div class="ion-padding-vertical-sm">
          <ion-text class="description">{{ transaction.description || '-' }}</ion-text><br />
          <ion-text class="reference1">{{ transaction.reference1 || '-' }}</ion-text><br />
          <ion-text class="reference2">{{ transaction.doc_createdDate | date: 'hh:mm:ss a' }}</ion-text>
        </div>
        <div slot="end">
          <jj-currency
            [currency]="wallet.displayCurrency"
            [value]="transaction.amount"
            [showColor]="true"
          ></jj-currency>
        </div>
      </ion-item>
    </ng-container>
  </ion-list>
  <ng-container *ngIf="dates?.length">
    <ion-infinite-scroll *ngIf="!transactionsEnded" (ionInfinite)="loadMoreTransactions($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <div *ngIf="transactionsEnded" class="note">
      <ion-label>
        <span>{{ '_ALL_LOADED' | translate }}</span><br />
        <span>{{ '_UPDATED_AT_WITH_DATE' | translate: { date: (updatedAt | date: 'd/M/yyyy hh:mm:ss a') } }}</span>
      </ion-label>
    </div>
  </ng-container>
</ion-content>
