<ion-card>
  <ion-card-header class="ion-no-padding">
    <ion-toolbar>
      <div>
        <ion-text></ion-text><br />
        <ion-text></ion-text>
      </div>
    </ion-toolbar>
  </ion-card-header>
  <ion-card-content class="ion-no-padding">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col class="ion-no-padding" size="6">
          <ion-text><small>Sales</small></ion-text><br />
          <ion-text><strong><jj-currency [value]="999999.99"></jj-currency></strong></ion-text>
        </ion-col>
        <ion-col class="ion-no-padding" size="6">
          <ion-text><small>Lucky Draw</small></ion-text><br />
          <ion-text><strong></strong></ion-text>
        </ion-col>
        <ion-col class="ion-no-padding" size="6">
          <ion-text><small>Free Credit</small></ion-text><br />
          <ion-text><strong></strong></ion-text>
        </ion-col>
        <ion-col class="ion-no-padding" size="6">
          <ion-text><small>Chest</small></ion-text><br />
          <ion-text><strong></strong></ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list>
      <ion-list-header>Hello</ion-list-header>
    </ion-list>
  </ion-card-content>
</ion-card>