<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onDismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ "jj._ISSUE_TICKETS" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <div class="ion-padding-sm">
          <cms-form [form]="form" [value]="value" (submit)="onIssueTicket($event)"></cms-form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
