:host {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    width: 100%;
    overflow-x: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
}

li {
    padding: 16px;
    display: inline-block;
}

li a {
    color: #ffffff;
    text-decoration: none;
}

.active {
    font-weight: bolder;
}

nav::-webkit-scrollbar {
    height: 8px;
}

nav::-webkit-scrollbar-track,
nav::-webkit-scrollbar-thumb {
    border-radius: 16px;
}

nav::-webkit-scrollbar-track {
    margin-left: 16px;
    margin-right: 16px;
    background-color: rgba(var(--ion-color-light-rgb), 0.4);
}

nav::-webkit-scrollbar-thumb {
    background-color: var(--ion-color-light);
}
