<ion-toolbar>
  <ion-item slot="start" lines="none">
    <ion-avatar slot="start">
      <ion-img src="/assets/avatar-placeholder.png"></ion-img>
    </ion-avatar>
    <ion-label>
      <p>{{ greetingKey | translate }}</p>
      <h3>{{ user?.firstName | fullName: user?.lastName }}</h3>
    </ion-label>
  </ion-item>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon name="home" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon name="qr-code" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
