<ion-grid fixed="true">
    <ion-row>
        <ion-col class="ion-text-center">
            <h2>{{ 'winbox99._GAMES' | translate }}</h2>
        </ion-col>
    </ion-row>

    <ion-slides>
        <ion-slide *ngFor="let group of gameGroups">
            <ion-grid>
                <ion-row>
                    <ion-col size="4" *ngFor="let item of group">
                        <div (click)="gameDetail(item)" class="ion-activatable ripple-parent">
                            <img class="game-thumbnail" [src]="item.thumbnail | cmsTranslate" alt="" />
                            <ion-ripple-effect></ion-ripple-effect>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
    </ion-slides>
</ion-grid>