<ion-grid>
  <ion-row>
    <ion-col>
      <h3>{{ timer.days }}</h3>
      <p>{{ '_DAYS_SHORT' | translate }}</p>
    </ion-col>
    <ion-col size="auto">
      <h3>:</h3>
    </ion-col>
    <ion-col>
      <h3>{{ timer.hours }}</h3>
      <p>{{ '_HOURS_SHORT' | translate }}</p>
    </ion-col>
    <ion-col size="auto">
      <h3>:</h3>
    </ion-col>
    <ion-col>
      <h3>{{ timer.minutes }}</h3>
      <p>{{ '_MINUTES_SHORT' | translate }}</p>
    </ion-col>
    <ion-col size="auto">
      <h3>:</h3>
    </ion-col>
    <ion-col>
      <h3>{{ timer.seconds }}</h3>
      <p>{{ '_SECONDS_SHORT' | translate }}</p>
    </ion-col>
  </ion-row>
</ion-grid>
