<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/jj/account"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "jj._EDIT_BANK_ACCOUNTS" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <div *ngIf="!accounts?.length" class="note">
      <ion-label>{{ 'jj._NO_ACCOUNTS_FOUND' | translate }}</ion-label>
    </div>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
      <ion-item *ngFor="let account of accounts" [routerLink]="[account.doc_id]"> 
        <ion-label class="transaction">
          <ion-text class="description">{{ account.accountNo }}</ion-text><br />
          <ion-text class="reference1">{{ account.bankName | erpTranslate }}</ion-text><br />
          <ion-text class="reference2">{{ account.holderName }}</ion-text>
        </ion-label>
        <div *ngIf="!account.isActive">
          <ion-badge slot="end" color="danger">{{ "jj._INACTIVE" | translate }}</ion-badge>
        </div>
      </ion-item>
  </ion-list>
  <ng-container *ngIf="accounts?.length">
    <ion-infinite-scroll *ngIf="!accountsEnded" (ionInfinite)="loadMoreAccounts($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <div *ngIf="accountsEnded" class="note">
      <ion-label>
        <span>{{ '_ALL_LOADED' | translate }}</span>
        <br />
        <span>{{ '_UPDATED_AT_WITH_DATE' | translate : { date: (updatedAt | date : 'd/M/yyyy hh:mm:ss a') } }}</span>
      </ion-label>
    </div>
  </ng-container>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button routerLink="../create-bank-account">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>


<!-- <ion-content>
  <ion-list lines="full">
      <ion-item routerLink="1" class="transaction">
        <div class="ion-padding-vertical-sm">
          <ion-text class="description">{{  "jj._1234 5432 5678" | translate }}</ion-text><br />
          <ion-text class="reference1">{{  "jj._MAYBANK" | translate }}</ion-text><br />
          <ion-text class="reference2">{{  "jj._TAN AH KAU" | translate }}</ion-text>
        </div>
      </ion-item>
      <ion-item routerLink="../bank-account" class="transaction">
        <div class="ion-padding-vertical-sm">
          <ion-text class="description">{{  "jj._9876 4567 5432" | translate }}</ion-text><br />
          <ion-text class="reference1">{{  "jj._HONG LEONG BANK" | translate }}</ion-text><br />
          <ion-text class="reference2">{{  "jj._TAN AH MAU" | translate }}</ion-text>
        </div>
      </ion-item>
  </ion-list>
  <div class="note">
    <ion-label>
      <span>{{ '_ALL_LOADED' | translate }}</span><br />
    </ion-label>
  </div>
</ion-content> -->
