ion-badge{
    width: 80%;
    border-radius: 40px;
}

.details {
    background: var(--ion-item-background, #fff);
  
    h3 {
      font-size: var(--ion-font-sm);
      margin-top: calc(var(--ion-margin) / 4);
      margin-bottom: calc(var(--ion-margin) / 4);
    }
  
    ion-col:first-of-type h3 {
      color: var(--ion-color-note);
      text-align: end;
    }
  
    ion-col:last-of-type h3 {
      font-weight: var(--ion-font-bold);
    }
  }

  .bank-details {
    background: var(--ion-item-background, #fff);
  
    h3 {
      font-size: var(--ion-font-lg);
      margin-top: calc(var(--ion-margin) / 4);
      margin-bottom: calc(var(--ion-margin) / 4);
    }
  
    ion-col:first-of-type h3 {
      color: var(--ion-color-note);
      text-align: end;
    }
  
    ion-col:last-of-type h3 {
      font-weight: var(--ion-font-bold);
      color: black;
    }
  }  

.attachment{
    text-decoration: underline;
}