.logo {
    height: 68px;
    filter: drop-shadow(4px 0px 16px rgba(0, 0, 0, 0.18));
}

@media only screen and (max-width: 576px) {
    .logo {
        width: 180px;
    }
}

.login-button {
    --padding-start: 2rem;
    --padding-end: 2rem;
}
