ion-item {
  --padding-start: calc(var(--ion-padding) / 2);
  --inner-padding-end: 0;
}

ion-item ion-avatar,
ion-item ion-label {
  margin-top: calc(var(--ion-margin) / 4);
  margin-bottom: calc(var(--ion-margin) / 4);
}

ion-item ion-label h3 {
  font-weight: var(--ion-font-bold);
}

ion-item ion-button[slot='end'] {
  --padding-start: calc(var(--ion-padding) / 4);
  --padding-end: calc(var(--ion-padding) / 4);
  --padding-top: 0;
  --padding-bottom: 0;

  height: 40px;
  width: 40px;

  margin-right: 0;
  margin-left: 0;
}
