<ion-content class="main">
  <ion-refresher slot="fixed" (ionRefresh)="loadData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="h-100 d-flex-center">
    <ng-container *ngIf="!event && !eventNotFound">
      <ion-spinner></ion-spinner>
    </ng-container>
    <ng-container *ngIf="!event && eventNotFound">
      <div class="color-white ion-text-center">
        <p class="ion-no-margin font-bold">{{ "tastefully._COMING_SOON" | translate }}</p>
        <p class="ion-no-margin-bottom font-small">{{ "tastefully._STAY_TUNED" | translate }}</p>
      </div>
    </ng-container>
    <ng-container *ngIf="event">
      <div>
        <div class="ion-padding color-white">
          <h1 class="ion-no-margin font-bold ion-text-center">{{ event.name | cmsTranslate }}</h1>
          <p class="ion-no-margin ion-text-center">{{ event.highlight | cmsTranslate }}</p>
        </div>
        <ion-card class="card ion-no-margin-vertical" [style.background-image]="event.giftCardImage | cssUrl">
          <ion-card-content class="d-flex-center">
            <ng-container *ngIf="type == 'incoming'">
              <div class="color-white ion-text-center">
                <p class="ion-no-margin font-bold">{{ "tastefully._COMING_SOON" | translate }}</p>
                <countdown [config]="config" (event)="handleEvent($event)"></countdown>
              </div>
            </ng-container>
            <ng-container *ngIf="type == 'today'">
              <ng-container *ngIf="!register">
                <ion-button fill="solid" shape="round" color="light" (click)="openModal()">
                  <ion-label>{{ 'tastefully._GET_NOW' | translate }}</ion-label>
                </ion-button>
              </ng-container>
              <ng-container *ngIf="register">
                <div class="color-white ion-text-center">
                  <p class="ion-no-margin">
                    <span *ngIf="event.thankYouMessage">{{ event.thankYouMessage | cmsTranslate }}</span>
                    <span *ngIf="!event.thankYouMessage">{{ "tastefully._REGISTERED_FOR_EVENT" | translate }}</span>
                  </p>
                </div>
              </ng-container>
            </ng-container>
          </ion-card-content>
        </ion-card>
        <ng-container *ngIf="event && register">
          <div class="ion-text-center ion-margin-top-sm">
            <ng-container *ngIf="!activation">
              <ion-button (click)="onGetFreeGift()" color="light">
                <ion-label>{{ "tastefully._GET_YOUR_FREE_GIFT_NOW" | translate }}</ion-label>
              </ion-button>
            </ng-container>
            <ng-container *ngIf="activation">
              <countdown #activationCountdown class="activation-countdown" [config]="config"
                (event)="handleEvent($event)"></countdown>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <ion-button id="open-modal" class="d-none">Open modal</ion-button>
  <ion-modal trigger="open-modal" [presentingElement]="presentingElement">
    <ng-template>
      <ng-container *ngIf="form">
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="dismissModal()">{{ "_CANCEL" | translate }}</ion-button>
            </ion-buttons>
            <ion-title>{{ form.name | cmsTranslate }}</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <cms-form [form]="form" [value]="value" (submit)="freeGiftRegister($event)"></cms-form>
        </ion-content>
      </ng-container>
    </ng-template>
  </ion-modal>
</ion-content>