.title {
  font-size: var(--ion-font-sm);
  font-weight: var(--ion-font-bold);
  margin-top: 0;
  margin-bottom: calc(var(--ion-margin) / 2);

  display: flex;
  align-items: center;
  justify-content: space-between;

  ion-button {
    margin: 0;
    height: fit-content;
    --padding-top: calc(var(--ion-padding) / 5);
    --padding-bottom: calc(var(--ion-padding) / 5);
    font-size: var(--ion-font-sm);
  }
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  
  &::-webkit-scrollbar {
    display: none;
  }
}
