:root {
  --ion-color-primary: #1f395e;
  --ion-color-primary-rgb: 31, 57, 94;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1b3253;
  --ion-color-primary-tint: #354d6e;

  --ion-color-secondary: #809bce;
  --ion-color-secondary-rgb: 128, 155, 206;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #7188b5;
  --ion-color-secondary-tint: #8da5d3;

  --ion-color-tertiary: #fbf2c0;
  --ion-color-tertiary-rgb: 251, 242, 192;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #ddd5a9;
  --ion-color-tertiary-tint: #fbf3c6;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-background-color: var(--ion-color-light);
  --ion-item-background: #ffffff;
  --ion-card-background: #ffffff;

  --ion-padding: 16px;
  --ion-border-radius: 8px;

  --ion-color-orange: #ffa500;
}

.ion-padding-sm {
  padding: calc(var(--ion-padding) / 2);
}

.ion-padding-lg {
  padding: calc(var(--ion-padding) * 2);
}

.ion-padding-start-sm {
  padding-left: calc(var(--ion-padding) / 2);
}

.ion-padding-start-lg {
  padding-left: calc(var(--ion-padding) * 2);
}

.ion-padding-end-sm {
  padding-right: calc(var(--ion-padding) / 2);
}

.ion-padding-end-lg {
  padding-right: calc(var(--ion-padding) * 2);
}

.ion-padding-sm {
  padding: calc(var(--ion-padding) / 2);
  padding-right: calc(var(--ion-padding) * 2);
}

.ion-padding-vertical-sm {
  padding-top: calc(var(--ion-padding) / 2);
  padding-bottom: calc(var(--ion-padding) / 2);
}

.ion-padding-vertical-lg {
  padding-top: calc(var(--ion-padding) * 2);
  padding-bottom: calc(var(--ion-padding) * 2);
}

.ion-padding-horizontal-sm {
  padding-left: calc(var(--ion-padding) / 2);
  padding-right: calc(var(--ion-padding) / 2);
}

.ion-padding-horizontal-lg {
  padding-left: calc(var(--ion-padding) * 2);
  padding-right: calc(var(--ion-padding) * 2);
}

.font-bold {
  font-weight: bold;
}

.text-xs {
  font-size: x-small;
}

.text-sm {
  font-size: small;
}

.text-md {
  font-size: medium;
}

.text-lg {
  font-size: large;
}

.text-xl {
  font-size: x-large;
}

.text-2xl {
  font-size: xx-large;
}

.color-orange {
  color: var(--ion-color-orange);
}

// Custom Configured Ionic Components
ion-card {
  border-radius: var(--ion-border-radius);
}

ion-badge {
  border-radius: var(--ion-border-radius);
}