:root {
  --ion-color-primary: #1f395e;
  --ion-color-primary-rgb: 31, 57, 94;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1b3253;
  --ion-color-primary-tint: #354d6e;

  --ion-color-secondary: #809bce;
  --ion-color-secondary-rgb: 128, 155, 206;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #7188b5;
  --ion-color-secondary-tint: #8da5d3;

  --ion-color-tertiary: #fbf2c0;
  --ion-color-tertiary-rgb: 251, 242, 192;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #ddd5a9;
  --ion-color-tertiary-tint: #fbf3c6;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-primary-light: #d6dce5;
  --ion-color-primary-light-rgb: 214, 220, 229;
  --ion-color-primary-light-contrast: #000000;
  --ion-color-primary-light-contrast-rgb: 0, 0, 0;
  --ion-color-primary-light-shade: #bcc2ca;
  --ion-color-primary-light-tint: #dae0e8;

  --ion-color-white: #ffffff;
  --ion-color-white-rgb: 255, 255, 255;
  --ion-color-white-contrast: #000000;
  --ion-color-white-contrast-rgb: 0, 0, 0;
  --ion-color-white-shade: #e0e0e0;
  --ion-color-white-tint: #ffffff;

  --ion-background-color: var(--ion-color-light);
  --ion-item-background: #ffffff;
  --ion-card-background: #ffffff;

  --ion-padding: 16px;
  --ion-padding-sm: 8px;
  --ion-padding-xs: 4px;
  --ion-padding-lg: 32px;
  --ion-padding-x1: 64px;
  --ion-margin: 16px;
  --ion-margin-sm: 8px;
  --ion-margin-xs: 4px;
  --ion-margin-lg: 32px;
  --ion-margin-x1: 64px;

  --ion-border-radius: 8px;
  --ion-border-color: #d9d9d9;

  --ion-color-orange: #ffa500;
  --ion-color-note: var(--ion-color-step-350, #a6a6a6);

  --ion-font-4xs: 6px;
  --ion-font-3xs: 8px;
  --ion-font-2xs: 10px;
  --ion-font-xs: 12px;
  --ion-font-sm: 14px;
  --ion-font-md: 16px;
  --ion-font-lg: 18px;
  --ion-font-xl: 20px;
  --ion-font-2xl: 24px;
  --ion-font-3xl: 30px;
  --ion-font-4xl: 36px;

  --ion-font-bold: bold;

  --ion-fab-size: 56px;
}

// -----------------------------------------------------------------------------------------------------
// @ Padding
// -----------------------------------------------------------------------------------------------------

.ion-padding-sm {
  padding: calc(var(--ion-padding) / 2);
}

.ion-padding-lg {
  padding: calc(var(--ion-padding) * 2);
}

.ion-padding-start-sm {
  padding-left: calc(var(--ion-padding) / 2);
}

.ion-padding-start-lg {
  padding-left: calc(var(--ion-padding) * 2);
}

.ion-padding-end-sm {
  padding-right: calc(var(--ion-padding) / 2);
}

.ion-padding-end-lg {
  padding-right: calc(var(--ion-padding) * 2);
}

.ion-padding-vertical-sm {
  padding-top: calc(var(--ion-padding) / 2);
  padding-bottom: calc(var(--ion-padding) / 2);
}

.ion-padding-vertical-lg {
  padding-top: calc(var(--ion-padding) * 2);
  padding-bottom: calc(var(--ion-padding) * 2);
}

.ion-padding-horizontal-sm {
  padding-left: calc(var(--ion-padding) / 2);
  padding-right: calc(var(--ion-padding) / 2);
}

.ion-padding-horizontal-lg {
  padding-left: calc(var(--ion-padding) * 2);
  padding-right: calc(var(--ion-padding) * 2);
}

// -----------------------------------------------------------------------------------------------------
// @ Margin
// -----------------------------------------------------------------------------------------------------

.ion-no-margin-top {
  margin-top: 0;
}

.ion-no-margin-bottom {
  margin-bottom: 0;
}

.ion-no-margin-start {
  margin-left: 0;
}

.ion-no-margin-end {
  margin-right: 0;
}

.ion-margin-top-sm {
  margin-top: calc(var(--ion-margin) / 2);
}

.ion-margin-top-lg {
  margin-top: calc(var(--ion-margin) * 2);
}

// -----------------------------------------------------------------------------------------------------
// @ Typography
// -----------------------------------------------------------------------------------------------------

.ion-font-bold {
  font-weight: var(--ion-font-bold);
}

.ion-text-xs {
  font-size: var(--ion-font-xs);
}

.ion-text-sm {
  font-size: var(--ion-font-sm);
}

.ion-text-md {
  font-size: var(--ion-font-md);
}

.ion-text-lg {
  font-size: var(--ion-font-lg);
}

.ion-text-xl {
  font-size: var(--ion-font-xl);
}

.ion-text-2xl {
  font-size: var(--ion-font-2xl);
}

.ion-text-ellipsis {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  @supports (-webkit-line-clamp: 1) {
    display: -webkit-box;
    white-space: unset;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

// -----------------------------------------------------------------------------------------------------
// @ Color
// -----------------------------------------------------------------------------------------------------

.ion-color-orange {
  color: var(--ion-color-orange);
}

.ion-color-note {
  color: var(--ion-color-note);
}

.ion-color-primary-light {
  --ion-color-base: var(--ion-color-primary-light);
  --ion-color-base-rgb: var(--ion-color-primary-light-rgb);
  --ion-color-contrast: var(--ion-color-primary-light-contrast);
  --ion-color-contrast-rgb: var(--ion-color-primary-light-contrast-rgb);
  --ion-color-shade: var(--ion-color-primary-light-shade);
  --ion-color-tint: var(--ion-color-primary-light-tint);
}

.ion-color-white {
  --ion-color-base: var(--ion-color-white);
  --ion-color-base-rgb: var(--ion-color-white-rgb);
  --ion-color-contrast: var(--ion-color-white-contrast);
  --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
  --ion-color-shade: var(--ion-color-white-shade);
  --ion-color-tint: var(--ion-color-white-tint);
}

// -----------------------------------------------------------------------------------------------------
// @ Flex
// -----------------------------------------------------------------------------------------------------

.ion-flex-column {
  display: flex;
  flex-direction: column;
}

// -----------------------------------------------------------------------------------------------------
// @ Component
// -----------------------------------------------------------------------------------------------------

ion-header.header-md,
ion-header.header-ios {
  &::after {
    height: 0px;
    background-image: none;
  }

  &.ion-header-clear ion-toolbar {
    --background: transparent;
    --border-width: 0;
  }
}

ion-content.ion-content-clear {
  --background: transparent;
}

ion-back-button.ios.back-button-has-icon-only {
  min-width: 48px;
  height: 40px;
}

ion-back-button.filled-back-button {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
  &::part(icon) {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: var(--ion-color-light);
  }
}

ion-button.filled-button {
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;

  &:not(.button-has-icon-only) {
    border-radius: 20px;
    background: var(--ion-color-secondary);
  }

  &.button-has-icon-only {
    width: 40px;
    --padding-start: 0px;
    --padding-end: 0px;
  }

  ion-icon,
  ion-icon[slot='icon-only'] {
    padding: 4px;
    border-radius: 50%;
    background: var(--ion-color-light);
  }

  ion-label {
    font-size: var(--ion-font-sm);
    margin-right: calc(var(--ion-margin) / 2);
    margin-left: calc(var(--ion-margin) / 2);
  }
}

ion-grid.grid-fixed {
  padding: 0;

  ion-col {
    padding: 0;
  }
}

ion-list.list-md,
ion-list.list-ios {
  padding-top: 0;
  padding-bottom: 0;
}

ion-card.card-content-md,
ion-card.card-content-ios {
  border-radius: var(--ion-border-radius);
}

ion-card.card-clear {
  box-shadow: none;
  background: transparent;
}

ion-badge {
  border-radius: var(--ion-border-radius);
}

ion-button {
  height: 2.4em;

  --border-radius: calc(var(--ion-border-radius) * 3);
}

cms-form,
cms-filter,
.cms-form,
.cms-filter {
  .list-md,
  .list-ios {
    padding-top: 0;
    padding-bottom: 0;
    background: transparent;
  }

  ion-item {
    --background: transparent;
    --padding-start: 0;
    --border-width: 0;
    --inner-padding-end: 0;
    --inner-border-width: 0;
    --min-height: 60px;

    font-size: var(--ion-font-sm);
  }

  ion-item:not(.item-input) {
    --min-height: 35px;

    ion-checkbox[slot='start'] {
      margin-right: calc(var(--ion-margin) / 2);
    }

    ion-label,
    ion-checkbox[slot='start'] {
      margin-top: calc(var(--ion-margin) / 6);
      margin-bottom: calc(var(--ion-margin) / 6);
    }
  }

  .label-stacked.sc-ion-label-md-h,
  .label-stacked.sc-ion-label-ios-h {
    transform: unset;
    font-size: var(--ion-font-sm);
    margin-top: calc(var(--ion-margin) / 4);
    margin-bottom: calc(var(--ion-margin) / 6);
    margin-right: calc(var(--ion-margin) / 3);
  }

  ion-input {
    --min-height: 60px;

    border-width: 1px;
    border-style: solid;
    border-color: var(--ion-border-color);
  }

  .item-label-stacked .sc-ion-input-md-h,
  .item-label-stacked .sc-ion-input-ios-h {
    --padding-start: 10px;
  }

  ion-checkbox {
    --border-radius: 0px;
  }

  hr {
    margin-top: calc(var(--ion-margin) / 4);
    margin-bottom: calc(var(--ion-margin) / 4);
  }

  ion-item.stacked-select ion-select[slot='end'] {
    --padding-start: 10px;

    width: 100%;
    max-width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: var(--ion-border-color);
    margin-right: 0;
    margin-left: 0;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  ion-input.sc-ion-input-md-h,
  ion-input.sc-ion-input-ios-h,
  ion-select {
    background-color: var(--ion-item-background, #fff);
  }
}
