.events-container {
  padding: 0 calc(var(--ion-padding) / 2);
  margin: calc(var(--ion-margin) / 2) 0;
}

.events {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: calc(var(--ion-margin) / 4);

  ion-avatar,
  .loading {
    min-width: var(--ion-fab-button-size);
    min-height: var(--ion-fab-button-size);
  }

  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ion-avatar {
    position: relative;

    ion-badge {
      --padding-start: 0;
      --padding-end: 0;
      --padding-top: 0;
      --padding-bottom: 0;

      height: 20px;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 0;
      font-size: calc(var(--ion-font-xs) - 3px);
    }
  }
}

.winners,
.distributions {
  background: transparent;

  .title {
    padding-left: calc(var(--ion-padding) / 1.5);
  }

  ion-item {
    --padding-start: calc(var(--ion-padding) / 1.5);
    --padding-end: calc(var(--ion-padding) / 1.5);
    --inner-padding-end: 0;

    ion-label {
      margin-top: calc(var(--ion-margin) / 2);
      margin-bottom: calc(var(--ion-margin) / 2);

      h3 {
        font-weight: var(--ion-font-bold);
      }

      p {
        font-size: var(--ion-font-xs);
      }

      .ticket-no {
        display: flex;
        align-items: center;
        justify-content: space-between;

        ion-chip {
          height: auto;
          font-size: var(--ion-font-xs);
          padding: calc(var(--ion-padding) / 4) calc(var(--ion-padding) / 2);
          margin: 0;
        }
      }
    }
  }
}
