.ticket-icon {
    width: 24px;
    height: 24px;
    padding: var(--ion-padding, 16px);
    color: var(--ion-text-color, #000);
    background-color: var(--default-icon-background);
    border-radius: 50%;
}

.ticket-serial-no {
    font-size: x-large;
    font-weight: bold;
}
