<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/jj/wallets/' + walletNo"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <div *ngIf="!dates?.length" class="note">
      <ion-label>{{ '_NO_WITHDRAWS_FOUND' | translate }}</ion-label>
    </div>
    <ng-container *ngFor="let date of dates">
      <ion-list-header>{{ date }}</ion-list-header>
      <ion-item lines="full" class="request" *ngFor="let withdraw of withdraws[date]" [routerLink]="[withdraw.refNo]">
        <div class="ion-padding-vertical-sm">
          <ion-text class="description">{{ withdraw.description || '-' }}</ion-text><br />
          <ion-text class="reference1">{{ withdraw.reference1 || '-' }}</ion-text><br />
          <ion-text class="reference2">{{ withdraw.doc_createdDate | date: 'hh:mm:ss a' }}</ion-text>
        </div>
        <div slot="end">
          <jj-currency [currency]="wallet.displayCurrency" [value]="withdraw.amount"></jj-currency>
          <ion-badge [color]="getStatusColor(withdraw)">{{ "jj._" + withdraw.status | translate }}</ion-badge>
        </div>
      </ion-item>
    </ng-container>
  </ion-list>
  <ng-container *ngIf="dates?.length">
    <ion-infinite-scroll *ngIf="!withdrawsEnded" (ionInfinite)="loadMoreWithdraws($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <div *ngIf="withdrawsEnded" class="note">
      <ion-label>
        <span>{{ '_ALL_LOADED' | translate }}</span><br />
        <span>{{ '_UPDATED_AT_WITH_DATE' | translate: { date: (updatedAt | date: 'd/M/yyyy hh:mm:ss a') } }}</span>
      </ion-label>
    </div>
  </ng-container>
</ion-content>
