ion-header {
  &::after {
    height: 0px;
    background-image: none;
  }
}

ion-toolbar {
  --border-width: 0px;
  --background: var(--ion-item-background, #ffffff);

  ion-button {
    --padding-start: 5px;
    --padding-end: 5px;
    --padding-top: 0;
    --padding-bottom: 0;
    --color: var(--ion-color-primary);

    height: 40px;
    width: 40px;
  }
}

// Logo

ion-img.logo {
  height: 32px;
}

// Header

ion-toolbar.header-toolbar {
  ion-button {
    --color: #222428;
    --background: #f2f2f2;
    --border-radius: 50%;

    position: relative;

    &::part(native) {
      overflow: visible;
    }

    &:not(:last-of-type) {
      margin-right: 8px;
    }

    ion-badge {
      --padding-start: 0px;
      --padding-end: 0px;
      --padding-top: 0px;
      --padding-bottom: 0px;

      height: 20px;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      position: absolute;
      right: -6px;
      top: 0px;
      font-size: 9px;
    }
  }
}

// Account

ion-item.account-item {
  --padding-start: 8px;
  --inner-padding-end: 0px;

  ion-avatar,
  ion-label {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  ion-label {
    p,
    h3 {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    h3 {
      font-weight: bold;
    }
  }
}

// Section Title

.section-title {
  font-size: 13px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 8px;
}

// Notifications

.notifications-container {
  padding: 4px 0px;
  background-color: rgba(var(--ion-color-secondary-rgb), 0.6);
  position: sticky;
  top: 0px;
  z-index: 1;
}

.notification {
  text-align: end;
  font-size: 13px;
  margin: 0px;
  color: #222428;

  animation: notification-anim 5000ms linear infinite;
}

@keyframes notification-anim {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

// Wallets

.wallets-container {
  padding: 0px 8px;
  margin: 8px 0px;
  display: flex;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

ion-card.wallet {
  --color: var(--ion-color-dark);
  margin: 4px;
  width: 30%;
  min-width: 144px;
  max-width: 144px;
  box-shadow: none;

  ion-card-content {
    padding: 8px 12px;

    h3 {
      font-weight: bold;
    }
  }
}

// Slideshow

.slideshow-container {
  padding: 0px 8px;
  margin: 8px 0px;
}

ion-slide.slide {
  img {
    width: 100%;
    height: 25vh;
    max-height: 168px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
  }
}

// Mini Programs

.mini-programs-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 24px;
  margin: 8px 0px;
  background-color: var(--ion-item-background, #ffffff);
}

ion-button.mini-program {
  flex: 0 1 25%;
  margin: 8px 0px;
  height: fit-content;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;

    ion-icon {
      font-size: 32px;
    }

    ion-label {
      font-size: 13px;
    }
  }
}

// Lucky Draws

.lucky-draw-container {
  padding: 0px 8px;
  margin: 12px 0px;
}

ion-slide.lucky-draw {
  img {
    width: 100%;
    height: 25vh;
    max-height: 168px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
  }
}
