<div class="container">
  <ion-img [src]="event?.backgroundImage | erpImg"></ion-img>
  <div class="card-container">
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col *ngIf="event.showEndDateCountdown">
              <h3>{{ 'jj._EVENT_COUNTDOWN' | translate }}</h3>
              <countdown-timer [timer]="timer"></countdown-timer>
            </ion-col>
            <ion-col>
              <h3>{{ 'jj._YOU_HAVE_GAINED' | translate }}</h3>
              <distribution-summary
                [tickets]="event?.totalOfGainedTickets"
                [points]="event?.totalOfGainedPoints"
                [snwTickets]="event?.totalOfGainedSnwTickets"
              ></distribution-summary>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-button size="small" expand="block" fill="clear" routerLink="/jj/rewards/my-rewards">
      <ion-label>{{ 'jj._VIEW_MY_REWARDS' | translate }}</ion-label>
    </ion-button>
  </div>
</div>
