<ion-card class='ion-no-margin ion-no-padding'>
  <ion-card-content class="d-flex items-center ion-text-center" style="justify-content: space-around">
    <div>
      <ion-text color="dark" style="font-size: x-small;">每消费</ion-text><br />
      <ion-text color="dark" style="font-weight: 900;"><span style="font-size: x-small;">RM</span>10.00</ion-text>
    </div>
    <div>
      <ion-text color="dark" style="font-size: x-small;">可获得礼码</ion-text><br />
      <ion-text color="dark" style="font-weight: 900;"><span style="font-size: x-small;">RM</span>10.00</ion-text>
    </div>
  </ion-card-content>
</ion-card>
