<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="ion-padding-horizontal" style="text-align: left;">
      <img style="height: 2rem;" src="/assets/tastefully/logo.png" alt="" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="loadData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="ion-padding d-flex ion-align-items-center welcome">
    <img class="avatar" *ngIf="CURRENT_CUSTOMER" [src]="CURRENT_CUSTOMER.profilePic" />
    <img class="avatar" *ngIf="!CURRENT_CUSTOMER" src="/assets/avatar-placeholder.png" />
    <div class="greeting">
      <p class="ion-no-margin">
        <small>
          <ion-text color="medium">{{ greetingKey | translate }}</ion-text>
        </small>
      </p>
      <p class="ion-no-margin-bottom ion-margin-top-sm">
        <span *ngIf="CURRENT_CUSTOMER">{{ CURRENT_CUSTOMER.name }}</span>
        <span *ngIf="!CURRENT_CUSTOMER">{{ "tastefully._GUEST" | translate }}</span>
      </p>
    </div>
  </div>

  <tastefully-event-list [events]="events"></tastefully-event-list>
  
  <div class="divider"></div>

  <ng-container *ngIf="slideshow">
    <cms-slideshow [options]="{ loop: true, pager: true }" [slideshow]="slideshow"></cms-slideshow>
  </ng-container>
  
  <hr class="divider" />

  <tastefully-feed-list [feeds]="feeds"></tastefully-feed-list>

</ion-content>