<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/jj/wallets"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-refresher slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->
  <ion-list>
    <ion-list-header>11/11/2022</ion-list-header>
    <ion-item lines="full" class="transaction" (click)="OpenDetails()">
      <div class="ion-padding-vertical-sm">
        <ion-text class="description">AAA</ion-text><br />
        <ion-text class="reference2">22111102293</ion-text><br />
        <ion-text>-</ion-text>
      </div>

      <div slot="end">
        <ion-text class="right" class="reference1">RM100.00</ion-text><br />
        <ion-badge slot="end" color="warning">Pending</ion-badge>
      </div>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item lines="full" class="transaction" (click)="OpenDetails()">
      <div class="ion-padding-vertical-sm">
        <ion-text class="description">AAA</ion-text><br />
        <ion-text class="reference2">22111102293</ion-text><br />
        <ion-text>-</ion-text>
      </div>

      <div slot="end">
        <ion-text class="right" class="reference1">RM100.00</ion-text><br />
        <ion-badge slot="end" color="warning">Pending</ion-badge>
      </div>
    </ion-item>
  </ion-list>
  <!-- <div class="note">
      <ion-label>
        <ion-text>ALL_LOADED</ion-text><br />
        <ion-text>
          UPDATED_AT_WITH_DATE
        </ion-text>
      </ion-label>
    </div> -->
</ion-content>