<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{ 'teckguan.fleet._HOME' | translate }}</ion-label>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>
    
        <ion-tab-button tab="about">
          <ion-icon name="calendar"></ion-icon>
          <ion-label>Booking</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="about">
          <ion-icon name="checkbox"></ion-icon>
          <ion-label>Approval</ion-label>
        </ion-tab-button>

    <ion-tab-button tab="speakers">
      <ion-icon name="warning"></ion-icon>
      <ion-label>Alert</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="map"></ion-icon>
      <ion-label>Monitor</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="menu"></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>