.list-background {
    color: #ffffff;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    padding: var(--ion-padding-lg, 24px);

    h2 {
        margin: 0;
    }

    p {
        margin-bottom: 0;
    }
}

.list-item {
    margin-top: var(--ion-margin, 16px);

    img {
        width: 3rem;
        height: 3rem;
        margin-right: 1rem;
    }

    h3,
    p {
        margin: 0;
    }

    h3 {
        color: var(--ion-color-primary);
    }
}
