<ion-content color="light">
  <div class="ion-padding-horizontal">
    <ion-text>
      <h1><ion-icon class="ion-margin-end" name="home"></ion-icon>{{ 'teckguan._DASHBOARD' | translate }}</h1>
    </ion-text>
  </div>
  <ion-item-divider>
    Fleet
  </ion-item-divider>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        
      </ion-col>
      <ion-col size="12">
        <wig-vehicle-booking></wig-vehicle-booking>
      </ion-col>
      <ion-col>
        <wig-vehicle-approval></wig-vehicle-approval>
      </ion-col>
      <ion-col size="12">
        <wig-fuel-consumption></wig-fuel-consumption>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>