ion-card-content:first-of-type {
    border-bottom: 1px dashed rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.4);
}

.list-section {
    padding-top: 0;
    padding-bottom: 0;
}

.list-section ion-item {
    --padding-start: 0;
    --padding-inner-end: 0;
}

.table {
    padding: 0;
}

.table .table-header {
    border-radius: 8px;
    color: var(--ion-color-primary-contrast);
    background-color: var(--ion-color-primary);

    ion-col {
        padding-left: var(--ion-padding, 16px);
        padding-right: var(--ion-padding, 16px);

        h3 {
            font-size: 24px;

            .prize-worth {
                font-size: 12px;
            }
        }
    }
}

.table .table-body {
    padding-top: var(--ion-padding-sm, 8px);

    &:not(:last-of-type) {
        padding-bottom: var(--ion-padding, 16px);
    }

    ion-col p {
        font-size: 16px;
        font-weight: bold;
        color: var(--ion-text-color, #000);
    }
}
