<div class="lucky-draw-container">
  <h3 class="ion-margin-start ion-text-xl ion-font-bold">幸运星</h3>

  <!-- <ion-slides>
    <ion-slide *ngFor="let winners of winnerGroups">
      <div *ngFor="let winner of winners">
        {{ winner.doc_id }}
      </div>
    </ion-slide>
  </ion-slides> -->

  <ion-slides pager="true">
    <!-- [options]="{ slidesPerView: true, loop: true}" -->

    <!-- Slide-1 -->
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <img class="square fullImg" [src]="'https://picsum.photos/1080/1920?random=' + 0" />
          </ion-col>
          <ion-col size="3">
            <img class="square fullImg" [src]="'https://picsum.photos/1080/1920?random=' + 1" />
          </ion-col>
          <ion-col size="3">
            <img class="square fullImg" [src]="'https://picsum.photos/1080/1920?random=' + 2" />
          </ion-col>
          <ion-col size="3">
            <img class="square fullImg" [src]="'https://picsum.photos/1080/1920?random=' + 6" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            <img class="square fullImg" [src]="'https://picsum.photos/1080/1920?random=' + 3" />
          </ion-col>
          <ion-col size="3">
            <img class="square fullImg" [src]="'https://picsum.photos/1080/1920?random=' + 4" />
          </ion-col>
          <ion-col size="3">
            <img class="square fullImg" [src]="'https://picsum.photos/1080/1920?random=' + 5" />
          </ion-col>
          <ion-col size="3">
            <img class="square fullImg" [src]="'https://picsum.photos/1080/1920?random=' + 7" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <!-- Slide-2 -->
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <img class="square fullImg" [src]="'https://picsum.photos/1080/1920?random=' + 0" />
          </ion-col>
          <ion-col size="3">
            <img class="square fullImg" [src]="'https://picsum.photos/1080/1920?random=' + 1" />
          </ion-col>
          <ion-col size="3">
            <img class="square fullImg" [src]="'https://picsum.photos/1080/1920?random=' + 2" />
          </ion-col>
          <ion-col size="3">
            <img class="square fullImg" [src]="'https://picsum.photos/1080/1920?random=' + 6" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            <img class="square fullImg" [src]="'https://picsum.photos/1080/1920?random=' + 3" />
          </ion-col>
          <ion-col size="3">
            <img class="square fullImg" [src]="'https://picsum.photos/1080/1920?random=' + 4" />
          </ion-col>
          <ion-col size="3">
            <img class="square fullImg" [src]="'https://picsum.photos/1080/1920?random=' + 5" />
          </ion-col>
          <ion-col size="3">
            <img class="square fullImg" [src]="'https://picsum.photos/1080/1920?random=' + 7" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <!-- Slide 3 -->
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <img class="square fullImg" [src]="'https://picsum.photos/1080/1920?random=' + 0" />
          </ion-col>
          <ion-col size="3">
            <img class="square fullImg" [src]="'https://picsum.photos/1080/1920?random=' + 1" />
          </ion-col>
          <ion-col size="3">
            <img class="square fullImg" [src]="'https://picsum.photos/1080/1920?random=' + 2" />
          </ion-col>
          <ion-col size="3">
            <img class="square fullImg" [src]="'https://picsum.photos/1080/1920?random=' + 6" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            <img class="square fullImg" [src]="'https://picsum.photos/1080/1920?random=' + 3" />
          </ion-col>
          <ion-col size="3">
            <img class="square fullImg" [src]="'https://picsum.photos/1080/1920?random=' + 4" />
          </ion-col>
          <ion-col size="3">
            <img class="square fullImg" [src]="'https://picsum.photos/1080/1920?random=' + 5" />
          </ion-col>
          <ion-col size="3">
            <img class="square fullImg" [src]="'https://picsum.photos/1080/1920?random=' + 7" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</div>
