ion-segment {
  --background: transparent;
  --min-height: auto;
}

ion-segment-button {
  --border-radius: calc(var(--ion-border-radius) * 3);
  --border-width: 0px;
  --color: var(--ion-color-orange);
  --color-checked: #fff;
  --background-hover: transparent;
  --indicator-color: var(--ion-color-orange);

  height: 36px;
}

ion-content {
  --padding-top: calc(var(--offset-top) * -1);
}

.loading {
  height: 200px;
}
