<ion-header class="ion-header-clear">
  <ion-toolbar class="toolbar-container">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/jj" icon="arrow-back" text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="solid" shape="round">
        <ion-icon name="ticket"></ion-icon>
        <ion-label>9,999张</ion-label>
      </ion-button>
      <ion-button fill="solid" color="light" shape="round">
        <ion-icon slot="icon-only" name="gift"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <jj-news-ticker [messages]="messages"></jj-news-ticker>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-img class="cover-image" [src]="event.coverImage | erpImg"></ion-img>
  <div class="background-image" [style.background-image]="event.backgroundImage | erpImg | cssUrl">
    <div class="inner-container">
      <div class="centered"><div class="font-bold">{{event.name}}</div>{{event.distance}}</div>
   
      <div class="card-container">
        <ion-card>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="2"  style="margin-top: 10px;">
                  <ion-icon name="time" style="color:blueviolet" size="large"></ion-icon>
                </ion-col>
                <ion-col  style="margin-top: 10px;">  
                  <countdown-timer [timer]="timer"></countdown-timer>
                </ion-col>
                <ion-col>
                  <h3>抽奖机会</h3>
                  <h3 style="color:black; font-weight: bold;">100次</h3>
                  <h3 style="color:black">每次消费1张刮刮卷</h3>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="container-2">
        <ion-img class="logo-image" [src]="event.logo | erpImg" ></ion-img>
        <ion-img class="scratch-background-image" style="border-radius:10px;"   [src]="event.scratchBackgroundImage | erpImg"  ></ion-img>
        <ion-img class="scratch-placeholder-image-1" [src]="event.scratchPlaceholderImage | erpImg" ></ion-img>
        <ion-img class="scratch-placeholder-image-2" [src]="event.scratchPlaceholderImage | erpImg" ></ion-img>
        <ion-img class="scratch-placeholder-image-3" [src]="event.scratchPlaceholderImage | erpImg" ></ion-img>
        <div class="centered-2">活动由<span class="font-bold">{{event.description}}</span>主办</div>
        <div><a class="centered-3">{{event.tnc}}</a></div>  
      </div> -->
    </div>
  </div>

  <!-- <div>
    <ion-img [src]="event.backgroundImage | erpImg"></ion-img>
  </div> -->

  <!-- <div class="container">
    <ion-img [src]="event.logo | erpImg" ></ion-img>
    <div class="centered"><div class="font-bold">{{event.name}}</div>{{event.distance}}</div>
   
    <div class="card-container">
      <ion-card>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="2"  style="margin-top: 10px;">
                <ion-icon name="time" style="color:blueviolet" size="large"></ion-icon>
              </ion-col>
              <ion-col  style="margin-top: 10px;">  
                <countdown-timer [timer]="timer"></countdown-timer>
              </ion-col>
              <ion-col>
                <h3>抽奖机会</h3>
                <h3 style="color:black; font-weight: bold;">100次</h3>
                <h3 style="color:black">每次消费1张刮刮卷</h3>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <div class="container-2">
    <ion-img class="background-Img" [src]="event.backgroundImage | erpImg" ></ion-img>
    <ion-img class="cover-Image" [src]="event.coverImage | erpImg" ></ion-img>
    <ion-img class="scratch-Background-Image" style="border-radius:10px;"   [src]="event.scratchBackgroundImage | erpImg"  ></ion-img>
    <ion-img class="scratch-Placeholder-Image-1" [src]="event.scratchPlaceholderImage | erpImg" ></ion-img>
    <ion-img class="scratch-Placeholder-Image-2" [src]="event.scratchPlaceholderImage | erpImg" ></ion-img>
    <ion-img class="scratch-Placeholder-Image-3" [src]="event.scratchPlaceholderImage | erpImg" ></ion-img>
    <div class="centered-2">活动由<span class="font-bold">{{event.description}}</span>主办</div>
    <div><a class="centered-3">{{event.tnc}}</a></div>  
  </div> -->

</ion-content>