<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/jj/wallets/:walletNo"></ion-back-button>
    </ion-buttons>
    <ion-title>Transfer</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="solid" size="large" style="width: 80px;" Href="/jj/wallets/:walletNo/transfers">
        View All
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="transfer">
    <ion-text class="transfer-text">Search User</ion-text>
      <div class="cms-form" style="margin-left:5%; margin-right:5%; margin-top: 5%;">
        <ion-item>
          <ion-label position="stacked">Enter Mobile Number</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </div>  
  </div> 
  <div class="center">
    <p class="or">Or </p>
    <ion-button fill="outline">
      Scan QR Code
      <ion-icon slot="end" name="scan"></ion-icon>
    </ion-button>
  </div>
</ion-content>  

<ion-footer>
  <ion-button expand="block" size="large" Href="/jj/wallets/:walletNo/transfer-money">
    Search
  </ion-button>
</ion-footer>
