.transfer{
    margin-top: 10%;
    margin-bottom: 10%;
}

.transfer-text{
    font-size: medium;
    font-weight: bold;
    text-align: start;
    margin-left: 5%;
}

.center{
    text-align: center;
}

.or{
    font-size: medium;
    font-weight: bold;
}

