<ng-container *ngIf="!events">
  <div class="scroll-x d-flex  ion-padding-sm">
    <div class="d-inline-block ion-margin-start-sm event" *ngFor="let i of [1, 2, 3, 4, 5];">
      <div class="h-100 w-100 content">
        <ion-skeleton-text class="ion-no-margin" animated></ion-skeleton-text>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="events && events.length > 0; else empty">
  <div class="d-flex ion-justify-content-between ion-align-items-center ion-padding-start-sm ion-padding-bottom-sm ion-padding-top">
    <h2 class="font-medium font-bold ion-no-margin">{{ "tastefully._UPCOMING_EVENTS" | translate }}</h2>
  </div>

  <div class="scroll-x ion-padding-sm">
    <div class="ion-activatable ripple-parent d-inline-block ion-margin-start-sm event" *ngFor="let event of events;" routerLink="/tastefully/events/{{event.code}}" [style.background-image]="event.background | cssUrl">
      <div class="flag" [style.background-image]="event.stateLogo | cssUrl"></div>
      <div class="h-100 w-100 content">
        <div class="ion-padding-sm font-small">
          <p class="ion-no-margin">{{ event.location }}</p>
          <b class="date">
            <ion-text color="primary">{{ event.organisedAt | firestoreDate: "MMM dd" }}</ion-text>
          </b>
        </div>
      </div>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  </div>

</ng-container>

<ng-template #empty>
  <div class="ion-padding-sm">
    <div class="event empty d-flex-center">
      <div class="ion-text-center">
        <p class="font-medium ion-margin-bottom-sm">{{ "tastefully._COMING_SOON" | translate }}</p>
        <ion-note class="font-small">{{ "tastefully._STAY_TUNED" | translate }}</ion-note>
      </div>
    </div>
  </div>
</ng-template>