.event {
    width: 25vw;
    height: 20vh;
    border-radius: 1rem;
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.event.empty {
    width: 100%;
}

.flag {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 3px solid var(--ion-color-primary);
    background-position: center;
    background-size: cover;
    position: absolute;
    margin: 6px;
    top: 0;
}

.content {
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
}

.content > div {
    color: #ffffff;
    white-space: normal;
    position: absolute;
    bottom: 0;
}

.date {
    text-shadow: 2px;
}
