

.details {
    background: var(--ion-item-background, #fff);
  
    h3 {
      font-size: var(--ion-font-sm);
      margin-top: calc(var(--ion-margin) / 2);
      margin-bottom: calc(var(--ion-margin) / 2);
    }
  
    ion-col:first-of-type h3 {
      color: var(--ion-color-note);
      text-align: end;
    }
  
    ion-col:last-of-type h3 {
      font-weight: var(--ion-font-bold);
    }
  }

  .bank-details {
    background: var(--ion-item-background, #fff);
  
    h3 {
      font-size: var(--ion-font-lg);
      margin-top: calc(var(--ion-margin) / 4);
      margin-bottom: calc(var(--ion-margin) / 4);
    }
  
    ion-col:first-of-type h3 {
      color: var(--ion-color-note);
      text-align: end;
    }
  
    ion-col:last-of-type h3 {
      font-weight: var(--ion-font-bold);
      color: black;
    }
  }  

.attachment{
    text-decoration: underline;
}

.amount{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.amount-text{
    font-size: xx-large;
    color: var(--ion-color-danger);
    font-weight: bold;
}