<div class="slideshow-container">
    <ion-slides [options]="options" [pager]="pager" *ngIf="slideshow">
        <ion-slide *ngFor="let item of slideshow.items">
            <div class="cms-slide" [style.background-image]="item.backgroundImage | cssUrl">
                <ion-grid fixed>
                    <ion-row>
                        <ion-col size="8" sizeMd="9">
                            <div>
                                <ng-container *ngIf="item.htmlContent">
                                    <cms-html-viewer [html]="item.htmlContent | cmsTranslate"></cms-html-viewer>
                                </ng-container>
                                <ng-container *ngFor="let button of item.buttons">
                                    <ion-button shape="round" [href]="button.link" target="_blank">
                                        <ion-label>{{ button.text | cmsTranslate }}</ion-label>
                                    </ion-button>
                                </ng-container>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </ion-slide>
    </ion-slides>
</div>