.slideshow-container {
    position: relative;
}
.cms-slide {
    height: 50vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    // text-align: left;
}