<ng-container *ngFor="let feed of feeds">
  <div>
    <div class="ion-padding">
      <h3 class="font-bolder font-medium ion-no-margin">{{ feed.title | cmsTranslate }}</h3>
      <small>
        <ion-text color="medium">{{ feed.fromNow | titlecase }}</ion-text>
      </small>
      <div class="content" [innerHTML]="feed.content | cmsTranslate | safeHtml"></div>
      <div class="thumbnail" [style.background-image]="feed.thumbnail | cssUrl"></div>
    </div>
    <!-- <ion-button size="small" fill="clear" expand="block">{{ 'tastefully._READ_MORE' | translate }}</ion-button> -->
  </div>
  <hr class="divider" />
</ng-container>

<div class="ion-text-center ion-padding ion-background-light">
  <small>
    <ion-text color="medium">
      {{ 'tastefully._ALL_CAUGHT_UP' | translate }}
    </ion-text>
  </small>
</div>