<ng-container *ngIf="!feeds">
  <div class="ion-padding">
    <div class="skeleton">
      <ion-skeleton-text animated></ion-skeleton-text>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="feeds && feeds.length > 0; else empty">
  <ng-container *ngFor="let feed of feeds; let last = last">
    <div class="ion-padding">
      <h3 class="font-bolder font-medium ion-no-margin">{{ feed.title | cmsTranslate }}</h3>
      <small>
        <ion-text color="medium">{{ feed.fromNow | titlecase }}</ion-text>
      </small>
      <div class="content" [innerHTML]="feed.content | cmsTranslate | safeHtml"></div>
      <div class="thumbnail" [style.background-image]="feed.thumbnail | cssUrl"></div>
    </div>
    <hr class="divider" *ngIf="!last" />
  </ng-container>

  <div class="ion-text-center ion-padding ion-background-light">
    <small>
      <ion-text color="medium">
        {{ 'tastefully._ALL_CAUGHT_UP' | translate }}
      </ion-text>
    </small>
  </div>
</ng-container>

<ng-template #empty>

</ng-template>